<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

	{%- if settings.favicon_image -%}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
	{%- endif -%}

	<title>{{ shop.name | escape }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

	{%- render 'open-graph' -%}

	<link rel="canonical" href="{{ canonical_url }}">

  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">

  {%- render 'head-variables' -%}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

	<script src="{{ 'lightbox.min.js' | asset_url }}" async></script>
	<style>
	.basicLightbox{position:fixed;display:flex;justify-content:center;align-items:center;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,.8);opacity:.01;transition:opacity .4s ease;z-index:1000;will-change:opacity}.basicLightbox--visible{opacity:1}.basicLightbox__placeholder{max-width:100%;transform:scale(.9);transition:transform .4s ease;z-index:1;will-change:transform}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:95%;max-height:95%}.basicLightbox__placeholder>iframe:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{pointer-events:auto}.basicLightbox__placeholder>img:first-child:last-child,.basicLightbox__placeholder>video:first-child:last-child{width:auto;height:auto}.basicLightbox--iframe .basicLightbox__placeholder,.basicLightbox--img .basicLightbox__placeholder,.basicLightbox--video .basicLightbox__placeholder{width:100%;height:100%;pointer-events:none}.basicLightbox--visible .basicLightbox__placeholder{transform:scale(1)}
	.basicLightboxClose{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace;overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;box-shadow:none;touch-action:manipulation}
	</style>

	{{ content_for_header }}

</head>

<body class="template-password no-touch">
	
	{{ content_for_layout }}

	<p class="password-login">
	  <a href="#login-modal" class="js-toggle-login-modal">
	    {{ 'password_page.password_link' | t }}
	    {%- render 'theme-symbols', icon: 'lock' -%}
	  </a>
	</p>

	<div id="login-modal" aria-hidden="true" class="hide">

		<div class="login-modal">

			{%- form 'storefront_password' -%}
		    <div class="password-input-group">
					<p class="h2">{{ 'password_page.login_form_heading' | t }}</p>
		      {%- render 'form-errors', form: form -%}
					<label for="Password" class="visually-hidden">{{ 'password_page.login_form_password_label' | t }}</label>
	        <input 
	        	type="password" name="password" id="Password" 
	        	placeholder="{{ 'password_page.login_form_password_label' | t }}" autofocus autocomplete="off" 
	        	{% if form.errors %} aria-invalid="true" {% endif %}
	        >
					<button class="button button--solid button--wide" type="submit" name="commit">
						{{ 'password_page.login_form_submit' | t }}
					</button>
				</div>
			{%- endform -%}

			<p class="password-form-heading">{{ 'password_page.admin_link_html' | t }}</p>
			
			<div class="basicLightboxClose">×</div>

		</div>

	</div>

	<script>

		window.onload = function(){

			if ( document.querySelector('.login-modal .alert--error') ) {
				setTimeout(function(){
					modal.show(function(){
						document.querySelector('.basicLightboxClose').addEventListener('click', function(){
							modal.close();
						});
					});
				}, 200);
			}

			const modal = basicLightbox.create(document.getElementById('login-modal'));
			const modalEvent = document.querySelector('.js-toggle-login-modal').addEventListener('click', function(){
				modal.show(function(){
					document.getElementById('Password').focus();
					document.querySelector('.basicLightboxClose').addEventListener('click', function(){
						modal.close();
					});
				});
			});
		}

	</script>

</body>

</html>