{%- if section.settings.bar_show -%} 

	{%- if section.settings.bar_show_on_homepage == false or template == 'index' and section.settings.bar_show_on_homepage -%}
		
		<a class="announcement" {% unless section.settings.bar_link == blank %} href="{{ section.settings.bar_link | escape }}" {% endunless %}>
			<span class="announcement__text">{{ section.settings.bar_message | escape }}</span>
		</a>

		{%- if section.settings.bar_show_dismiss -%}
			<span class="announcement__exit" aria-label="{{ 'general.accessibility_labels.close' | t }}">
        {%- render 'theme-symbols', icon: 'close' -%}
      </span>
		{%- endif -%}
    
    {% style %}
      {%- if section.settings.bar_txtcolor != 'rgba(0,0,0,0)' -%}
        .announcement {
          color: {{ section.settings.bar_txtcolor }};
        }
        .announcement__exit path {
          fill: {{ section.settings.bar_txtcolor }};
        }
      {%- endif -%}
      {%- if section.settings.bar_bgcolor != 'rgba(0,0,0,0)' -%}
        .announcement {
          background: {{ section.settings.bar_bgcolor }};
        }
      {%- endif -%}
      {%- if section.settings.bar_show_dismiss -%}
        .announcement {
          padding-right: 40px;
        }
      {%- endif -%}
    {% endstyle %}

    <script>
      var ad = localStorage.getItem('announcement-dismissed');
      if ( ad != 'true' ) {
        document.querySelector('html').classList.add('show-announcement-bar');
      }
    </script>

	{%- endif -%}

{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "class": "mount-announcement",
    "settings": [
      {
        "type": "checkbox",
        "id": "bar_show",
        "label": "Show announcement bar",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "bar_show_on_homepage",
        "label": "Show only on home page",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "bar_show_dismiss",
        "label": "Show dismiss button",
        "default": true
      },
      {
        "type": "text",
        "id": "bar_message",
        "label": "Content",
        "default": "Use this bar for a short, important announcement.",
        "info": "Max 40 characters"
      },
      {  
        "type": "url",
        "id": "bar_link",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bar_bgcolor",
        "label": "Background color",
        "default": "#111111"
      },
      {
        "type": "color",
        "id": "bar_txtcolor",
        "label": "Text color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}