
<style>

  @media (min-width: 992px) {

      body { 
        margin-top: 0;
        padding-top: 0;   
      }

      div#shopify-section-header + .study-info-about + .search-filter {
        display: none !important;
      }

      .header-holder { position: static; }

      .custom-main-nav.desktoprr .active.custom-menu-link {
          padding: 8px 5px;
          border-bottom: 4px solid;
          border-color: #79B8BB;
      }

      .custom-main-nav.desktoprr .active.custom-menu-link span {
          color: #79B8BB;
      }

      .custom-main-nav.desktoprr li {
        padding-right: 19px;
      }

      .desktop-header-holder {
        padding: 9.5px 0;
      }

      .desktop-header-holder > .wrapper {
        padding-left: 38px;
        padding-right: 38px;
      }
      
      header.desktop-header-holder.header-holder .logo {
          position: static;
          order: unset;
          margin-right: 24px;
      }

      header.desktop-header-holder.header-holder .custom-search {
          position: relative;
          display: flex !important;
      }

      .mobile-header-holder {
          display: none !important;
      }

      header.desktop-header-holder.header-holder .custom-search .main-filter {
          background-color: transparent !important;
      }

      .header__logo_navs {
        display: flex;
        padding-top: 6px;
      }

      .desktop-header-holder .custom-search .search-a {
          width: 200px;
          padding-left: 20px;
          height: 40px;
          margin-top: -8px;
          font-size: 10px;
      }

      .desktop-header-holder .filter-form {
          display: flex;
          align-items: center;
          justify-content: flex-end;
      }

      .desktop-header-holder .filter-form .filter-type {
          position: relative;
          top: -5px;
          padding-right: 0;
      }

      .desktop-header-holder .main-filter button {
          display: none;
          top: 8px;
          right: -38px;
          padding: 0 !important;
      }

      .right-icons_navs { padding-top: 10px; }

      .right-icons_navs li:last-child { padding-right: 0; }

      .desktop-header-holder .main-filter {
          margin: 0;
          padding: 0;
      }

      .desktop-header-holder .study-info {
          position: static;
          margin-top: 5px;
      }

      .desktop-header-holder .main-filter .form-switch {
          padding: 8px 10px 0;
      }

      .custom-main-nav.desktoprr #custom-search-icon,
      .custom-main-nav.desktoprr #cart-open-button {
          margin-top: 5px;
      }

      .header__logo_navs .custom-menu-link,
      .right-icons_navs .custom-menu-link span,
      .header__logo_navs ul li a,
      .header__logo_navs ul li i {
          font-size: 15px;
      }
      


  }

  @media (min-width: 1200px) {

      header.desktop-header-holder.header-holder .custom-search {
          width: 450px;
      }

      .desktop-header-holder .custom-search .search-a {
          width: 278px;
      }

      header.desktop-header-holder.header-holder .logo {
          margin-right: 48px;
      }

      .desktop-header-holder > .wrapper {
        padding-left: 48px;
        padding-right: 48px;
      }

  }

</style>

<header class="mobile-header-holder header-holder">

  <div class="header wrapper {% unless section.settings.show_icon_labels %} header--wout-icon-labels {% endunless %}">

    <div id="logo" class="logo" tabindex="-1">

      {%- if template == 'index' -%}<h1>{%- endif -%}

        {%- if section.settings.logo_src -%}

          {%- render 'head-size', logo: section.settings.logo_src, logo_height: section.settings.logo_height -%}
          <a class="logo-img" title="{{ shop.name | escape }}" href="{{ routes.root_url }}" style="height:var(--header-logo);display:flex;align-items:center" tabindex="3">
            <img src="{{ section.settings.logo_src | img_url: 'master' }}" alt="{{ shop.name | escape }}" style="max-height:{{ section.settings.logo_height }}px" width="{{ section.settings.logo_src.width }}" height="{{ section.settings.logo_src.height }}" />
          </a>

        {% else %}

          {%- render 'head-size', logo: false, logo_height: section.settings.logo_height -%}
          <a class="logo-txt" title="{{ shop.name | escape }}" href="{{ routes.root_url }}" tabindex="3">{{ shop.name | escape }}</a>

        {% endif %}

      {%- if template == 'index' -%}</h1>{%- endif -%}
    
    </div>

    <button id="menu-open-button" class="menu-opener" tabindex="2" aria-expanded="false" aria-controls="site-menu-sidebar">
      <span class="menu-opener__icon" aria-label="{{ 'general.menu.menu_title' | t }}">
        <span class="line"></span><span class="line"></span><span class="line"></span>
      </span>
      <span class="menu-opener__text lap--hide menu-meta__text">{{ 'general.menu.menu_title' | t }}</span>
    </button>

    <div class="menu-meta">
      <ul>
    <!--   <li>
          <a {% if settings.predictive_search_enabled and template != 'search' %} id="search-open-button" aria-expanded="false" aria-controls="site-search-sidebar" {% endif %} class="menu-meta__link" href="{{ routes.search_url }}">
            <span class="menu-meta__icon" aria-label="{{ 'general.menu.search_title' | t }}">
              {%- render 'theme-symbols', icon: 'user' -%}
            </span>
            <span class="lap--hide menu-meta__text">{{ 'general.menu.search_title' | t }}</span>
          </a>
        </li> -->
        
        <li  id="custom-search-icon">
          <a href="#">
          	<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.56334 0.819824C13.228 0.819824 17.0223 4.61411 17.0223 9.27878C17.0223 11.4796 16.1777 13.4868 14.7956 14.9932L17.5152 17.7071C17.7697 17.9616 17.7706 18.3733 17.516 18.6278C17.3892 18.7564 17.2216 18.8198 17.0548 18.8198C16.8889 18.8198 16.7221 18.7564 16.5944 18.6296L13.842 15.8849C12.3942 17.0444 10.5584 17.7386 8.56334 17.7386C3.89867 17.7386 0.103516 13.9435 0.103516 9.27878C0.103516 4.61411 3.89867 0.819824 8.56334 0.819824ZM8.56334 2.12281C4.61704 2.12281 1.4065 5.33248 1.4065 9.27878C1.4065 13.2251 4.61704 16.4356 8.56334 16.4356C12.5088 16.4356 15.7193 13.2251 15.7193 9.27878C15.7193 5.33248 12.5088 2.12281 8.56334 2.12281Z" fill="url(#paint0_linear_839:1593)"/>
            <defs>
            <linearGradient id="paint0_linear_839:1593" x1="0.103516" y1="0.819824" x2="19.5067" y2="3.03228" gradientUnits="userSpaceOnUse">
            <stop stop-color="#79B8BB"/>
            <stop offset="0.989583" stop-color="#8DADA0"/>
            </linearGradient>
            </defs>
            </svg>

          </a>
        </li>
        
        <li>
          <a {% unless template == 'cart' or settings.cart_action == 'no-overlay' %} id="cart-open-button" aria-expanded="false" aria-controls="site-cart-sidebar" {% endunless %} class="menu-meta__link" href="{{ routes.cart_url }}">
            <span class="menu-meta__icon" aria-label="{{ 'general.menu.cart_title' | t }}" style="margin-top: -1px;">
              {%- render 'theme-symbols', icon: 'cart-new' -%}
              <span class="menu-meta__count">{{ cart.item_count }}</span>
            </span>
            <span class="lap--hide menu-meta__text">{{ 'general.menu.cart_title' | t }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</header>


<header class="desktop-header-holder header-holder">

  <div class="header wrapper {% unless section.settings.show_icon_labels %} header--wout-icon-labels {% endunless %}">

    
  <div class="header__logo_navs">
    
    <div id="logo" class="logo">
          
          
      <a class="logo-img" title="{{ shop.name | escape }}" href="{{ routes.root_url }}" style="height:var(--header-logo);display:flex;align-items:center" tabindex="3">
        
        {% comment %} 
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18 17.0145H17.1422C17.1422 10.7004 14.1898 4.80601 9.24975 1.23761L8.9992 1.05648L8.74864 1.23761C3.80698 4.80282 0.856193 10.7004 0.856193 17.0145H0C0 10.4299 3.08245 4.26819 8.24674 0.542601L8.9992 0L9.75166 0.542601C12.7695 2.71939 15.0763 5.72923 16.4727 9.16038C17.484 11.6553 18.0027 14.3224 18 17.0145ZM15.4287 17.0141H16.2857C16.286 14.1644 15.652 11.3504 14.4297 8.77616C13.2283 6.25381 11.4601 4.04339 9.263 2.31761L8.99968 2.11254L8.73636 2.31761C6.53974 4.04384 4.77155 6.25415 3.56968 8.77616C2.34776 11.3505 1.71378 14.1645 1.71367 17.0141H2.57066C2.57066 11.616 4.96768 6.48047 8.99968 3.20332C13.0349 6.48127 15.4287 11.616 15.4287 17.0141ZM14.5711 17.0149H13.7133C13.7133 12.6366 12.0001 8.46494 8.99907 5.50298C5.99801 8.46494 4.28482 12.6366 4.28482 17.0149H3.43102C3.43102 12.26 5.35486 7.73323 8.70941 4.59571L9.00226 4.32202L9.29511 4.59571C12.6465 7.73323 14.5711 12.26 14.5711 17.0149ZM11.9985 17.014H12.8555C12.8555 13.3555 11.6027 9.84212 9.327 7.12353L8.99825 6.73094L8.6695 7.12353C6.39457 9.84611 5.141 13.3595 5.141 17.018H5.99799C5.99799 13.7369 7.06005 10.5858 8.99825 8.08106C10.9365 10.5858 11.9985 13.7369 11.9985 17.014ZM10.2872 17.0149H11.1442C11.1503 14.6259 10.5407 12.2757 9.37431 10.1909L9.00088 9.52857L8.62744 10.1909C7.46164 12.2759 6.85239 14.626 6.8584 17.0149H7.71539C7.7116 15.0463 8.15095 13.102 9.00088 11.3263C9.85142 13.1018 10.2911 15.0462 10.2872 17.0149ZM9.00052 13.773C9.28572 14.8298 9.4298 15.9197 9.42901 17.0143H8.57202C8.57164 15.9197 8.71571 14.8299 9.00052 13.773Z" fill="white"/>
        </svg>
         {% endcomment %}

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 225.6 213.3">
          <defs>
            <radialGradient id="radial-gradient" cx="0.498" cy="-0.004" r="0.994" gradientTransform="translate(0.027) scale(0.945 1)" gradientUnits="objectBoundingBox">
              <stop offset="0.66" stop-color="#fff"/>
              <stop offset="1" stop-color="#fff" stop-opacity="0"/>
            </radialGradient>
          </defs>
          <g id="Promiser__Logo_Icon_White_for_Dark_BG_Gradient" transform="translate(-72.6 -89.4)">
            <path id="Path_1" data-name="Path 1" d="M233.8,302.6H223.1c0-41.1-13.3-80.6-37.6-111.9-24.3,31.4-37.6,70.9-37.6,112H137.2c0-45.9,15.7-89.9,44.2-124l4.1-4.9,4.1,4.9C218,212.7,233.8,256.8,233.8,302.6Zm-21.6,0H201.5a165.906,165.906,0,0,0-16.1-71.3,163.053,163.053,0,0,0-16.1,71.3H158.6a174.157,174.157,0,0,1,22.2-85.5l4.7-8.3,4.7,8.3A173.962,173.962,0,0,1,212.2,302.6Zm43,0H244.4c0-54.9-21.5-107.1-59.1-144.3-37.6,37.1-59.1,89.4-59.1,144.3H115.6c0-59.6,24.1-116.3,66.1-155.6l3.7-3.4,3.7,3.4C231.1,186.3,255.2,243,255.2,302.6Zm21.6,0H266c0-67.6-30-132-80.6-173.1-50.5,41.1-80.6,105.4-80.6,173.1H94.1a239.212,239.212,0,0,1,23.3-103.2,226.722,226.722,0,0,1,64.8-80.9l3.3-2.6,3.3,2.6a227.8,227.8,0,0,1,64.8,80.9A242.032,242.032,0,0,1,276.8,302.6Zm21.4,0H287.4c0-79.1-37-153-98.9-197.7l-3.1-2.3-3.1,2.3c-61.9,44.7-98.9,118.6-98.9,197.7H72.6c0-82.5,38.6-159.7,103.4-206.4l9.4-6.8,9.4,6.8c37.8,27.3,66.7,65,84.2,108A259.716,259.716,0,0,1,298.2,302.6Zm-107.4,0a154.534,154.534,0,0,0-5.4-40.6,154.533,154.533,0,0,0-5.4,40.6Z" fill="url(#radial-gradient)"/>
          </g>
        </svg>


      </a>

      {% comment }

        {%- if template == 'index' -%}<h1>{%- endif -%}

          {%- if section.settings.desktop_logo_src -%}

            {%- render 'head-size', logo: section.settings.desktop_logo_src, logo_height: section.settings.logo_height -%}
            <a class="logo-img" title="{{ shop.name | escape }}" href="{{ routes.root_url }}" style="height:var(--header-logo);display:flex;align-items:center" tabindex="3">
              <img src="{{ section.settings.desktop_logo_src | img_url: 'master' }}" alt="{{ shop.name | escape }}" style="max-height:{{ section.settings.logo_height }}px" width="{{ section.settings.desktop_logo_src.width }}" height="{{ section.settings.desktop_logo_src.height }}" />
            </a>

          {% else %}

            {%- render 'head-size', logo: false, logo_height: section.settings.logo_height -%}
            <a class="logo-txt" title="{{ shop.name | escape }}" href="{{ routes.root_url }}" tabindex="3">{{ shop.name | escape }}</a>

          {% endif %}

        {%- if template == 'index' -%}</h1>{%- endif -%}
      
      {% endcomment %}


    </div>


    <ul class="custom-main-nav desktoprr">
      <li>   
      <a href="#" class="active custom-menu-link">
          <span class="ctm-text"> Home </span>
      </a> 
      </li>    
      
          <li>   
      <a href="#" class="custom-menu-link">
          <span class="ctm-text">  Dashboard  </span>
      </a> 
      </li> 
      
      <li>     
        <div class="plane-dropdown">
          <a class="plane-dropbtn">Plane <i class="fas fa-angle-down"></i></a>
          <div class="plane-dropdown-content">
          <ul>
          <li><a href="#">For You</a></li>
          <li><a href="#"> For A Child </a></li>
          <li><a href="#"> For A Friend </a></li>
          </ul>
          </div>
        </div>        
      </li>  
      
      <li>   
        <a href="#" class="custom-menu-link">
            <span class="ctm-text">  Shop  </span>
        </a> 
      </li> 
    </ul>

  </div>
  
  {%- render 'search-box' -%}

    <div class="right-icons_navs">
      <ul class="custom-main-nav desktoprr">
        <!-- <li>
          <a {% if settings.predictive_search_enabled and template != 'search' %} id="search-open-button" aria-expanded="false" aria-controls="site-search-sidebar" {% endif %} class="menu-meta__link" href="{{ routes.search_url }}">
            <span class="menu-meta__icon" aria-label="{{ 'general.menu.search_title' | t }}">
              {%- render 'theme-symbols', icon: 'user' -%}
            </span>
            <span class="lap--hide menu-meta__text">{{ 'general.menu.search_title' | t }}</span>
          </a>
        </li> -->

      <li>   
        <a href="#" class="custom-menu-link">
            <span class="ctm-text">  Blog  </span>
        </a> 
      </li> 
      <li>   
        <a href="#" class="custom-menu-link">
            <span class="ctm-text"> About Us</span>
        </a> 
      </li>  
      <li>   
        <a href="#" class="custom-menu-link">
            <span class="ctm-text">  Help </span>
        </a> 
      </li> 
      <li  id="custom-search-icon">
          <a href="#">
            <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.2 11.8565C11.1048 11.8565 14.4 12.491 14.4 14.9391C14.4 17.388 11.0832 18 7.2 18C3.29614 18 0 17.3655 0 14.9175C0 12.4685 3.31684 11.8565 7.2 11.8565ZM7.2 0C9.84519 0 11.9646 2.11862 11.9646 4.76195C11.9646 7.40527 9.84519 9.5248 7.2 9.5248C4.55571 9.5248 2.43541 7.40527 2.43541 4.76195C2.43541 2.11862 4.55571 0 7.2 0Z" fill="url(#paint0_linear_4167_16452)"/>
            <defs>
            <linearGradient id="paint0_linear_4167_16452" x1="0" y1="0" x2="15.9403" y2="1.48688" gradientUnits="userSpaceOnUse">
            <stop stop-color="#79B8BB"/>
            <stop offset="0.989583" stop-color="#8DADA0"/>
            </linearGradient>
            </defs>
            </svg>
          </a>
      </li>
        
      <li>
          <a {% unless template == 'cart' or settings.cart_action == 'no-overlay' %} id="cart-open-button" aria-expanded="false" aria-controls="site-cart-sidebar" {% endunless %} class="menu-meta__link" href="{{ routes.cart_url }}">
            <span class="menu-meta__icon" aria-label="{{ 'general.menu.cart_title' | t }}" style="margin-top: -1px;">
              {%- render 'theme-symbols', icon: 'cart-new' -%}

              {% comment %} <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.94575 7.62926C2.13415 5.98855 3.52305 4.75 5.17454 4.75H10.6821C12.3168 4.75 13.6972 5.96432 13.9056 7.58577L14.9664 15.8407C15.0624 16.5881 14.4801 17.25 13.7265 17.25H2.24279C1.49594 17.25 0.915755 16.5994 1.00095 15.8574L1.94575 7.62926Z" fill="url(#paint0_linear_4167_16456)" stroke="url(#paint1_linear_4167_16456)" stroke-width="1.5"/>
                <mask id="path-2-inside-1_4167_16456" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9998 4H12.4412C13.4472 4 14.2966 4.74727 14.4248 5.74509L15.7099 15.7451C15.8636 16.941 14.932 18 13.7262 18H2.24244C1.04748 18 0.11918 16.959 0.255495 15.7718L1.40375 5.77185C1.51968 4.76219 2.3744 4 3.39069 4H3.99982C3.99982 1.79086 5.79068 0 7.99982 0C10.209 0 11.9998 1.79086 11.9998 4ZM10.4998 4C10.4998 2.61929 9.38054 1.5 7.99982 1.5C6.61911 1.5 5.49982 2.61929 5.49982 4H10.4998ZM3.39069 5.5H12.4412C12.6927 5.5 12.905 5.68682 12.9371 5.93627L14.2221 15.9363C14.2605 16.2353 14.0276 16.5 13.7262 16.5H2.24244C1.9437 16.5 1.71162 16.2398 1.7457 15.943L2.89396 5.94296C2.92294 5.69055 3.13662 5.5 3.39069 5.5Z"/>
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9998 4H12.4412C13.4472 4 14.2966 4.74727 14.4248 5.74509L15.7099 15.7451C15.8636 16.941 14.932 18 13.7262 18H2.24244C1.04748 18 0.11918 16.959 0.255495 15.7718L1.40375 5.77185C1.51968 4.76219 2.3744 4 3.39069 4H3.99982C3.99982 1.79086 5.79068 0 7.99982 0C10.209 0 11.9998 1.79086 11.9998 4ZM10.4998 4C10.4998 2.61929 9.38054 1.5 7.99982 1.5C6.61911 1.5 5.49982 2.61929 5.49982 4H10.4998ZM3.39069 5.5H12.4412C12.6927 5.5 12.905 5.68682 12.9371 5.93627L14.2221 15.9363C14.2605 16.2353 14.0276 16.5 13.7262 16.5H2.24244C1.9437 16.5 1.71162 16.2398 1.7457 15.943L2.89396 5.94296C2.92294 5.69055 3.13662 5.5 3.39069 5.5Z" fill="url(#paint2_linear_4167_16456)"/>
                <path d="M11.9998 4H10.9998V5H11.9998V4ZM14.4248 5.74509L15.4167 5.61763V5.61763L14.4248 5.74509ZM15.7099 15.7451L14.718 15.8725L15.7099 15.7451ZM0.255495 15.7718L1.24897 15.8859L0.255495 15.7718ZM1.40375 5.77185L2.39722 5.88593L1.40375 5.77185ZM3.99982 4V5H4.99982V4H3.99982ZM10.4998 4V5H11.4998V4H10.4998ZM5.49982 4H4.49982V5H5.49982V4ZM12.9371 5.93627L13.9289 5.80882V5.80882L12.9371 5.93627ZM14.2221 15.9363L13.2303 16.0637L14.2221 15.9363ZM1.7457 15.943L2.73918 16.057L1.7457 15.943ZM2.89396 5.94296L3.88743 6.05704V6.05704L2.89396 5.94296ZM12.4412 3H11.9998V5H12.4412V3ZM15.4167 5.61763C15.2244 4.12091 13.9502 3 12.4412 3V5C12.9442 5 13.3689 5.37364 13.433 5.87254L15.4167 5.61763ZM16.7017 15.6176L15.4167 5.61763L13.433 5.87254L14.718 15.8725L16.7017 15.6176ZM13.7262 19C15.5348 19 16.9322 17.4115 16.7017 15.6176L14.718 15.8725C14.7949 16.4705 14.3291 17 13.7262 17V19ZM2.24244 19H13.7262V17H2.24244V19ZM-0.737977 15.6578C-0.94245 17.4385 0.450003 19 2.24244 19V17C1.64496 17 1.18081 16.4795 1.24897 15.8859L-0.737977 15.6578ZM0.410276 5.65777L-0.737977 15.6578L1.24897 15.8859L2.39722 5.88593L0.410276 5.65777ZM3.39069 3C1.86625 3 0.584179 4.14328 0.410276 5.65777L2.39722 5.88593C2.45519 5.38109 2.88255 5 3.39069 5V3ZM3.99982 3H3.39069V5H3.99982V3ZM4.99982 4C4.99982 2.34315 6.34297 1 7.99982 1V-1C5.2384 -1 2.99982 1.23858 2.99982 4H4.99982ZM7.99982 1C9.65668 1 10.9998 2.34315 10.9998 4H12.9998C12.9998 1.23858 10.7612 -1 7.99982 -1V1ZM11.4998 4C11.4998 2.067 9.93282 0.5 7.99982 0.5V2.5C8.82825 2.5 9.49982 3.17157 9.49982 4H11.4998ZM7.99982 0.5C6.06683 0.5 4.49982 2.067 4.49982 4H6.49982C6.49982 3.17157 7.1714 2.5 7.99982 2.5V0.5ZM10.4998 3H5.49982V5H10.4998V3ZM12.4412 4.5H3.39069V6.5H12.4412V4.5ZM13.9289 5.80882C13.8328 5.06046 13.1957 4.5 12.4412 4.5V6.5C12.1896 6.5 11.9773 6.31318 11.9452 6.06373L13.9289 5.80882ZM15.214 15.8088L13.9289 5.80882L11.9452 6.06373L13.2303 16.0637L15.214 15.8088ZM13.7262 17.5C14.6305 17.5 15.3292 16.7058 15.214 15.8088L13.2303 16.0637C13.1919 15.7647 13.4248 15.5 13.7262 15.5V17.5ZM2.24244 17.5H13.7262V15.5H2.24244V17.5ZM0.752231 15.8289C0.649994 16.7193 1.34622 17.5 2.24244 17.5V15.5C2.54118 15.5 2.77325 15.7602 2.73918 16.057L0.752231 15.8289ZM1.90048 5.82889L0.752231 15.8289L2.73918 16.057L3.88743 6.05704L1.90048 5.82889ZM3.39069 4.5C2.62847 4.5 1.98744 5.07164 1.90048 5.82889L3.88743 6.05704C3.85845 6.30945 3.64477 6.5 3.39069 6.5V4.5Z" fill="url(#paint3_linear_4167_16456)" mask="url(#path-2-inside-1_4167_16456)"/>
                <defs>
                <linearGradient id="paint0_linear_4167_16456" x1="0" y1="4" x2="17.5539" y2="6.33912" gradientUnits="userSpaceOnUse">
                <stop stop-color="#79B8BB"/>
                <stop offset="0.989583" stop-color="#8DADA0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_4167_16456" x1="0" y1="4" x2="17.5539" y2="6.33912" gradientUnits="userSpaceOnUse">
                <stop stop-color="#79B8BB"/>
                <stop offset="0.989583" stop-color="#8DADA0"/>
                </linearGradient>
                <linearGradient id="paint2_linear_4167_16456" x1="0.242188" y1="0" x2="17.3597" y2="1.71692" gradientUnits="userSpaceOnUse">
                <stop stop-color="#79B8BB"/>
                <stop offset="0.989583" stop-color="#8DADA0"/>
                </linearGradient>
                <linearGradient id="paint3_linear_4167_16456" x1="0.242188" y1="0" x2="17.3597" y2="1.71692" gradientUnits="userSpaceOnUse">
                <stop stop-color="#79B8BB"/>
                <stop offset="0.989583" stop-color="#8DADA0"/>
                </linearGradient>
                </defs>
              </svg> {% endcomment %}


              <span class="menu-meta__count">{{ cart.item_count }}</span>
            </span>
            {% comment %} <span class="lap--hide menu-meta__text">{{ 'general.menu.cart_title' | t }}</span> {% endcomment %}
          </a>
      </li>
      </ul>
    </div>
  </div>

</header>





<div id="site-menu-sidebar" class="sidebar sidebar--left custom-side-bg" tabindex="-1" role="dialog" aria-modal="true">

  <div class="sidebar__container ctm-main-menu ctm-menu-active">

    <div class="sidebar__close">
      <button class="close-sidebar" aria-label="{{ 'general.menu.close_button' | t }}">
        <span class="aria-hidden">{%- render 'theme-symbols', icon: 'close' -%}</span>
        <span class="close-sidebar__text">{{ 'general.menu.close_button' | t }}</span>
      </button>
      <button class="navigate-back" aria-label="{{ 'general.menu.back_button' | t }}" style="display:none">
        <span class="aria-hidden" style="margin-left:-7px">{%- render 'theme-symbols', icon: 'arrow-left' -%}</span>
        <span class="close-sidebar__text">{{ 'general.menu.back_button' | t }}</span>
      </button>
    </div>

    <div class="sidebar__content">

      <div class="sidebar__menus side-custom-menu">
        
        <ul class="custom-main-nav">
          <li>
            <a href="#" class="custom-menu-link">
              <svg  class="ctm-show-svg" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28558 14.144V16.896L6.26013 16.904C6.25547 17.5106 5.73274 18 5.08954 18H3.27427C1.46594 18 0 16.6175 0 14.912V7.08017C0.0166285 6.40857 0.353123 5.77975 0.916117 5.3682L7.09142 0.672281C8.1579 -0.199348 9.73294 -0.226294 10.8322 0.608282L17.1517 5.3682C17.6893 5.79225 18 6.41921 18 7.08017V14.92C18 15.7383 17.6548 16.5229 17.0405 17.1007C16.4262 17.6785 15.5933 18.0021 14.7257 18H12.868C12.5584 18 12.2615 17.8834 12.0433 17.6762C11.8251 17.4689 11.7037 17.1881 11.7059 16.896V14.144C11.7059 13.8067 11.5638 13.4832 11.3109 13.2446C11.058 13.0061 10.7149 12.8721 10.3572 12.8721H7.63431C6.88943 12.8721 6.28558 13.4416 6.28558 14.144ZM7.75 7C7.33579 7 7 7.33579 7 7.75C7 8.16421 7.33579 8.5 7.75 8.5H10.25C10.6642 8.5 11 8.16421 11 7.75C11 7.33579 10.6642 7 10.25 7H7.75Z" fill="#E2E1F5"/>
              </svg>
              
              <svg class="ctm-hide-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.28558 19.896V17.144C9.28558 16.4416 9.88943 15.8721 10.6343 15.8721H13.3572C13.7149 15.8721 14.058 16.0061 14.3109 16.2446C14.5638 16.4832 14.7059 16.8067 14.7059 17.144V19.896C14.7037 20.1881 14.8251 20.4689 15.0433 20.6762C15.2615 20.8834 15.5584 21 15.868 21H17.7257C18.5933 21.0021 19.4262 20.6785 20.0405 20.1007C20.6548 19.5229 21 18.7383 21 17.92V10.0802C21 9.41921 20.6893 8.79225 20.1517 8.3682L13.8322 3.60828C12.7329 2.77371 11.1579 2.80065 10.0914 3.67228L3.91612 8.3682C3.35312 8.77975 3.01663 9.40857 3 10.0802V17.912C3 19.6175 4.46594 21 6.27427 21H8.08954C8.73274 21 9.25547 20.5106 9.26013 19.904L9.28558 19.896Z" stroke="url(#paint0_linear_1868:11828)" stroke-width="1.5"/>
                <rect x="10" y="10" width="4" height="1.5" rx="0.75" fill="url(#paint1_linear_1868:11828)"/>
                <defs>
                <linearGradient id="paint0_linear_1868:11828" x1="3" y1="3" x2="22.8292" y2="5.31203" gradientUnits="userSpaceOnUse">
                <stop stop-color="#79B8BB"/>
                <stop offset="0.989583" stop-color="#8DADA0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_1868:11828" x1="10" y1="10" x2="14.0727" y2="11.2663" gradientUnits="userSpaceOnUse">
                <stop stop-color="#79B8BB"/>
                <stop offset="0.989583" stop-color="#8DADA0"/>
                </linearGradient>
                </defs>
                </svg>


              <span class="ctm-text"> Home </span>
            </a>
          </li>
          
          
          <li>
            <a href="#" class="custom-menu-link">
             <svg class="ctm-show-svg" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.68625 0C12.0575 0 13.9738 0.962963 14 3.41087V17.0723C14 17.2253 13.965 17.3783 13.895 17.5133C13.7812 17.7293 13.5887 17.8913 13.3525 17.9633C13.125 18.0353 12.8713 17.9993 12.6613 17.8733L6.99125 14.9574L1.3125 17.8733C1.18212 17.9444 1.0325 17.9903 0.88375 17.9903C0.39375 17.9903 0 17.5763 0 17.0723V3.41087C0 0.962963 1.925 0 4.2875 0H9.68625ZM10.2812 5.43579H3.6925C3.31625 5.43579 3.01 5.75078 3.01 6.14676C3.01 6.54185 3.31625 6.85773 3.6925 6.85773H10.2812C10.6575 6.85773 10.9637 6.54185 10.9637 6.14676C10.9637 5.75078 10.6575 5.43579 10.2812 5.43579Z" fill="#E2E1F5"/>
</svg>



              
              <svg class="ctm-hide-svg" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.61406 0C12.4011 0 14 1.44971 14 3.97525V16.5261C14 17.0528 13.742 17.5268 13.3082 17.7919C12.876 18.0579 12.3551 18.063 11.918 17.804L7.02095 14.8968L2.07876 17.81C1.86513 17.9361 1.63096 18 1.39597 18C1.15359 18 0.911204 17.9318 0.691003 17.7954C0.257996 17.5303 0 17.0563 0 16.5304V3.81724C0 1.39099 1.59974 0 4.38923 0H9.61406ZM9.61406 1.29515H4.38923C2.29485 1.29515 1.23247 2.14304 1.23247 3.81724V16.5304C1.23247 16.6116 1.27684 16.6556 1.31381 16.6781C1.35078 16.7023 1.40912 16.7195 1.4765 16.6798L6.72023 13.5887C6.90757 13.4791 7.1368 13.4782 7.32496 13.5896L12.5235 16.6755C12.5917 16.7169 12.65 16.6979 12.687 16.6746C12.724 16.6513 12.7675 16.6073 12.7675 16.5261L12.7672 3.87686C12.761 3.13372 12.6242 1.29515 9.61406 1.29515ZM9.9746 5.80961C10.3148 5.80961 10.5908 6.09973 10.5908 6.45719C10.5908 6.81465 10.3148 7.10476 9.9746 7.10476H3.96181C3.62164 7.10476 3.34557 6.81465 3.34557 6.45719C3.34557 6.09973 3.62164 5.80961 3.96181 5.80961H9.9746Z" fill="url(#paint0_linear_1869:11972)"/>
              <defs>
              <linearGradient id="paint0_linear_1869:11972" x1="0" y1="0" x2="15.5048" y2="1.40608" gradientUnits="userSpaceOnUse">
              <stop stop-color="#79B8BB"/>
              <stop offset="0.989583" stop-color="#8DADA0"/>
              </linearGradient>
              </defs>
              </svg>




              <span class="ctm-text"> Dashboard </span>
            </a>
          </li>
          
          
          	<li class="ctm-plan">
            <a href="#" class="custom-menu-link">
             
              
              
              <svg class="ctm-show-svg" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7 3.5C7 5.433 5.433 7 3.5 7C1.567 7 0 5.433 0 3.5C0 1.567 1.567 0 3.5 0C5.433 0 7 1.567 7 3.5ZM9.75 3C9.33579 3 9 3.33579 9 3.75C9 4.16421 9.33579 4.5 9.75 4.5H17.25C17.6642 4.5 18 4.16421 18 3.75C18 3.33579 17.6642 3 17.25 3H9.75ZM0.75 14C0.335786 14 0 14.3358 0 14.75C0 15.1642 0.335786 15.5 0.75 15.5H8.25C8.66421 15.5 9 15.1642 9 14.75C9 14.3358 8.66421 14 8.25 14H0.75ZM14.5 18C16.433 18 18 16.433 18 14.5C18 12.567 16.433 11 14.5 11C12.567 11 11 12.567 11 14.5C11 16.433 12.567 18 14.5 18Z" fill="#E2E1F5"/>
</svg>





              
             <svg class="ctm-hide-svg" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 5.5C4.60457 5.5 5.5 4.60457 5.5 3.5C5.5 2.39543 4.60457 1.5 3.5 1.5C2.39543 1.5 1.5 2.39543 1.5 3.5C1.5 4.60457 2.39543 5.5 3.5 5.5ZM3.5 7C5.433 7 7 5.433 7 3.5C7 1.567 5.433 0 3.5 0C1.567 0 0 1.567 0 3.5C0 5.433 1.567 7 3.5 7ZM9.75 3C9.33579 3 9 3.33579 9 3.75C9 4.16421 9.33579 4.5 9.75 4.5H17.25C17.6642 4.5 18 4.16421 18 3.75C18 3.33579 17.6642 3 17.25 3H9.75ZM0.75 14C0.335786 14 0 14.3358 0 14.75C0 15.1642 0.335786 15.5 0.75 15.5H8.25C8.66421 15.5 9 15.1642 9 14.75C9 14.3358 8.66421 14 8.25 14H0.75ZM16.5 14.5C16.5 15.6046 15.6046 16.5 14.5 16.5C13.3954 16.5 12.5 15.6046 12.5 14.5C12.5 13.3954 13.3954 12.5 14.5 12.5C15.6046 12.5 16.5 13.3954 16.5 14.5ZM18 14.5C18 16.433 16.433 18 14.5 18C12.567 18 11 16.433 11 14.5C11 12.567 12.567 11 14.5 11C16.433 11 18 12.567 18 14.5Z" fill="url(#paint0_linear_1869:11995)"/>
<defs>
<linearGradient id="paint0_linear_1869:11995" x1="0" y1="0" x2="19.8292" y2="2.31203" gradientUnits="userSpaceOnUse">
<stop stop-color="#79B8BB"/>
<stop offset="0.989583" stop-color="#8DADA0"/>
</linearGradient>
</defs>
</svg>






              <span class="ctm-text"> Plans </span>
              
              <svg class="ctm-arrow" width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.179928 12.5837C-0.0393503 12.3645 -0.0592847 12.0213 0.120125 11.7795L0.179928 11.7103L5.50761 6.3823L0.179928 1.05433C-0.0393503 0.835052 -0.0592847 0.491918 0.120125 0.25012L0.179928 0.180846C0.399206 -0.0384321 0.742341 -0.0583668 0.984139 0.121043L1.05341 0.180846L6.81812 5.94555C7.0374 6.16483 7.05733 6.50797 6.87792 6.74976L6.81812 6.81904L1.05341 12.5837C0.812207 12.8249 0.421134 12.8249 0.179928 12.5837Z" fill="#E2E1F5"/>
              </svg>

            </a>
          </li>
          
          
          
          <li class="ctm-shop">
            <a href="#" class="custom-menu-link">
             

              
              
               <svg class="ctm-show-svg" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_1883:13460" fill="white">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0498 5C10.1836 4.69377 10.2578 4.35555 10.2578 4C10.2578 2.61929 9.13852 1.5 7.75781 1.5C6.3771 1.5 5.25781 2.61929 5.25781 4C5.25781 4.35555 5.33204 4.69377 5.46583 5H3.88383C3.80157 4.68038 3.75781 4.3453 3.75781 4C3.75781 1.79086 5.54867 0 7.75781 0C9.96695 0 11.7578 1.79086 11.7578 4C11.7578 4.3453 11.7141 4.68038 11.6318 5H10.0498Z"/>
</mask>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0498 5C10.1836 4.69377 10.2578 4.35555 10.2578 4C10.2578 2.61929 9.13852 1.5 7.75781 1.5C6.3771 1.5 5.25781 2.61929 5.25781 4C5.25781 4.35555 5.33204 4.69377 5.46583 5H3.88383C3.80157 4.68038 3.75781 4.3453 3.75781 4C3.75781 1.79086 5.54867 0 7.75781 0C9.96695 0 11.7578 1.79086 11.7578 4C11.7578 4.3453 11.7141 4.68038 11.6318 5H10.0498Z" fill="#E2E1F5"/>
<path d="M10.0498 5L9.13344 4.59963L8.52159 6H10.0498V5ZM5.46583 5V6H6.99404L6.38219 4.59963L5.46583 5ZM3.88383 5L2.91539 5.24926L3.10862 6H3.88383V5ZM11.6318 5V6H12.407L12.6002 5.24926L11.6318 5ZM10.9661 5.40037C11.1541 4.97026 11.2578 4.49593 11.2578 4H9.25781C9.25781 4.21518 9.21311 4.41728 9.13344 4.59963L10.9661 5.40037ZM11.2578 4C11.2578 2.067 9.69081 0.5 7.75781 0.5V2.5C8.58624 2.5 9.25781 3.17157 9.25781 4H11.2578ZM7.75781 0.5C5.82482 0.5 4.25781 2.067 4.25781 4H6.25781C6.25781 3.17157 6.92939 2.5 7.75781 2.5V0.5ZM4.25781 4C4.25781 4.49593 4.36156 4.97026 4.54948 5.40037L6.38219 4.59963C6.30252 4.41728 6.25781 4.21518 6.25781 4H4.25781ZM5.46583 4H3.88383V6H5.46583V4ZM4.85227 4.75074C4.79078 4.51187 4.75781 4.26051 4.75781 4H2.75781C2.75781 4.43009 2.81235 4.84889 2.91539 5.24926L4.85227 4.75074ZM4.75781 4C4.75781 2.34315 6.10096 1 7.75781 1V-1C4.99639 -1 2.75781 1.23858 2.75781 4H4.75781ZM7.75781 1C9.41467 1 10.7578 2.34315 10.7578 4H12.7578C12.7578 1.23858 10.5192 -1 7.75781 -1V1ZM10.7578 4C10.7578 4.26051 10.7248 4.51187 10.6634 4.75074L12.6002 5.24926C12.7033 4.84889 12.7578 4.43009 12.7578 4H10.7578ZM11.6318 4H10.0498V6H11.6318V4Z" fill="#E2E1F5" mask="url(#path-1-inside-1_1883:13460)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.199 5.5H3.14851C2.89443 5.5 2.68075 5.69055 2.65177 5.94296L1.50352 15.943C1.46944 16.2398 1.70151 16.5 2.00025 16.5H13.484C13.7854 16.5 14.0183 16.2353 13.9799 15.9363L12.6949 5.93627C12.6628 5.68682 12.4505 5.5 12.199 5.5ZM3.14851 4C2.13221 4 1.2775 4.76219 1.16156 5.77185L0.0133077 15.7718C-0.123008 16.959 0.805294 18 2.00025 18H13.484C14.6898 18 15.6214 16.941 15.4677 15.7451L14.1827 5.74509C14.0544 4.74727 13.205 4 12.199 4H3.14851Z" fill="#E2E1F5"/>
<mask id="path-4-inside-2_1883:13460" fill="white">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.960549 7.5437C1.19242 5.52437 2.90184 4 4.93444 4H10.442C12.454 4 14.1529 5.49455 14.4093 7.49018L15.4701 15.7451C15.6238 16.941 14.6922 18 13.4864 18H2.00269C0.807736 18 -0.120566 16.959 0.0157493 15.7718L0.960549 7.5437ZM3.75599 6.25C3.75599 5.83579 4.09178 5.5 4.50599 5.5C4.92021 5.5 5.25599 5.83579 5.25599 6.25V6.75C5.25599 7.16421 4.92021 7.5 4.50599 7.5C4.09178 7.5 3.75599 7.16421 3.75599 6.75V6.25ZM11.006 5.5C10.5918 5.5 10.256 5.83579 10.256 6.25V6.75C10.256 7.16421 10.5918 7.5 11.006 7.5C11.4202 7.5 11.756 7.16421 11.756 6.75V6.25C11.756 5.83579 11.4202 5.5 11.006 5.5Z"/>
</mask>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.960549 7.5437C1.19242 5.52437 2.90184 4 4.93444 4H10.442C12.454 4 14.1529 5.49455 14.4093 7.49018L15.4701 15.7451C15.6238 16.941 14.6922 18 13.4864 18H2.00269C0.807736 18 -0.120566 16.959 0.0157493 15.7718L0.960549 7.5437ZM3.75599 6.25C3.75599 5.83579 4.09178 5.5 4.50599 5.5C4.92021 5.5 5.25599 5.83579 5.25599 6.25V6.75C5.25599 7.16421 4.92021 7.5 4.50599 7.5C4.09178 7.5 3.75599 7.16421 3.75599 6.75V6.25ZM11.006 5.5C10.5918 5.5 10.256 5.83579 10.256 6.25V6.75C10.256 7.16421 10.5918 7.5 11.006 7.5C11.4202 7.5 11.756 7.16421 11.756 6.75V6.25C11.756 5.83579 11.4202 5.5 11.006 5.5Z" fill="#E2E1F5"/>
<path d="M0.960549 7.5437L2.45076 7.71481L0.960549 7.5437ZM14.4093 7.49018L15.8971 7.29899V7.29899L14.4093 7.49018ZM15.4701 15.7451L13.9824 15.9363L15.4701 15.7451ZM0.0157493 15.7718L1.50596 15.943L0.0157493 15.7718ZM4.93444 2.5C2.13962 2.5 -0.210838 4.59601 -0.529659 7.37259L2.45076 7.71481C2.59568 6.45273 3.66407 5.5 4.93444 5.5V2.5ZM10.442 2.5H4.93444V5.5H10.442V2.5ZM15.8971 7.29899C15.5445 4.555 13.2085 2.5 10.442 2.5V5.5C11.6995 5.5 12.7613 6.43409 12.9216 7.68136L15.8971 7.29899ZM16.9579 15.5539L15.8971 7.29899L12.9216 7.68136L13.9824 15.9363L16.9579 15.5539ZM13.4864 19.5C15.5965 19.5 17.2268 17.6468 16.9579 15.5539L13.9824 15.9363C14.0208 16.2353 13.7879 16.5 13.4864 16.5V19.5ZM2.00269 19.5H13.4864V16.5H2.00269V19.5ZM-1.47446 15.6007C-1.71301 17.6783 -0.0884821 19.5 2.00269 19.5V16.5C1.70395 16.5 1.47188 16.2398 1.50596 15.943L-1.47446 15.6007ZM-0.529659 7.37259L-1.47446 15.6007L1.50596 15.943L2.45076 7.71481L-0.529659 7.37259ZM4.50599 4C3.26335 4 2.25599 5.00736 2.25599 6.25H5.25599C5.25599 6.66421 4.92021 7 4.50599 7V4ZM6.75599 6.25C6.75599 5.00736 5.74864 4 4.50599 4V7C4.09178 7 3.75599 6.66421 3.75599 6.25H6.75599ZM6.75599 6.75V6.25H3.75599V6.75H6.75599ZM4.50599 9C5.74864 9 6.75599 7.99264 6.75599 6.75H3.75599C3.75599 6.33579 4.09178 6 4.50599 6V9ZM2.25599 6.75C2.25599 7.99264 3.26335 9 4.50599 9V6C4.92021 6 5.25599 6.33579 5.25599 6.75H2.25599ZM2.25599 6.25V6.75H5.25599V6.25H2.25599ZM11.756 6.25C11.756 6.66421 11.4202 7 11.006 7V4C9.76336 4 8.75599 5.00736 8.75599 6.25H11.756ZM11.756 6.75V6.25H8.75599V6.75H11.756ZM11.006 6C11.4202 6 11.756 6.33579 11.756 6.75H8.75599C8.75599 7.99264 9.76336 9 11.006 9V6ZM10.256 6.75C10.256 6.33579 10.5918 6 11.006 6V9C12.2486 9 13.256 7.99264 13.256 6.75H10.256ZM10.256 6.25V6.75H13.256V6.25H10.256ZM11.006 7C10.5918 7 10.256 6.66421 10.256 6.25H13.256C13.256 5.00736 12.2486 4 11.006 4V7Z" fill="#E2E1F5" mask="url(#path-4-inside-2_1883:13460)"/>
</svg>



              
              <svg class="ctm-hide-svg" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_1883:13435" fill="white">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0498 5C10.1836 4.69377 10.2578 4.35555 10.2578 4C10.2578 2.61929 9.13852 1.5 7.75781 1.5C6.3771 1.5 5.25781 2.61929 5.25781 4C5.25781 4.35555 5.33204 4.69377 5.46583 5H3.88383C3.80157 4.68038 3.75781 4.3453 3.75781 4C3.75781 1.79086 5.54867 0 7.75781 0C9.96695 0 11.7578 1.79086 11.7578 4C11.7578 4.3453 11.7141 4.68038 11.6318 5H10.0498Z"/>
</mask>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0498 5C10.1836 4.69377 10.2578 4.35555 10.2578 4C10.2578 2.61929 9.13852 1.5 7.75781 1.5C6.3771 1.5 5.25781 2.61929 5.25781 4C5.25781 4.35555 5.33204 4.69377 5.46583 5H3.88383C3.80157 4.68038 3.75781 4.3453 3.75781 4C3.75781 1.79086 5.54867 0 7.75781 0C9.96695 0 11.7578 1.79086 11.7578 4C11.7578 4.3453 11.7141 4.68038 11.6318 5H10.0498Z" fill="url(#paint0_linear_1883:13435)"/>
<path d="M10.0498 5L9.13344 4.59963L8.52159 6H10.0498V5ZM5.46583 5V6H6.99404L6.38219 4.59963L5.46583 5ZM3.88383 5L2.91539 5.24926L3.10862 6H3.88383V5ZM11.6318 5V6H12.407L12.6002 5.24926L11.6318 5ZM10.9661 5.40037C11.1541 4.97026 11.2578 4.49593 11.2578 4H9.25781C9.25781 4.21518 9.21311 4.41728 9.13344 4.59963L10.9661 5.40037ZM11.2578 4C11.2578 2.067 9.69081 0.5 7.75781 0.5V2.5C8.58624 2.5 9.25781 3.17157 9.25781 4H11.2578ZM7.75781 0.5C5.82482 0.5 4.25781 2.067 4.25781 4H6.25781C6.25781 3.17157 6.92939 2.5 7.75781 2.5V0.5ZM4.25781 4C4.25781 4.49593 4.36156 4.97026 4.54948 5.40037L6.38219 4.59963C6.30252 4.41728 6.25781 4.21518 6.25781 4H4.25781ZM5.46583 4H3.88383V6H5.46583V4ZM4.85227 4.75074C4.79078 4.51187 4.75781 4.26051 4.75781 4H2.75781C2.75781 4.43009 2.81235 4.84889 2.91539 5.24926L4.85227 4.75074ZM4.75781 4C4.75781 2.34315 6.10096 1 7.75781 1V-1C4.99639 -1 2.75781 1.23858 2.75781 4H4.75781ZM7.75781 1C9.41467 1 10.7578 2.34315 10.7578 4H12.7578C12.7578 1.23858 10.5192 -1 7.75781 -1V1ZM10.7578 4C10.7578 4.26051 10.7248 4.51187 10.6634 4.75074L12.6002 5.24926C12.7033 4.84889 12.7578 4.43009 12.7578 4H10.7578ZM11.6318 4H10.0498V6H11.6318V4Z" fill="url(#paint1_linear_1883:13435)" mask="url(#path-1-inside-1_1883:13435)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.2575 5.5H5.25746V6.75C5.25746 7.16421 4.92167 7.5 4.50746 7.5C4.09325 7.5 3.75746 7.16421 3.75746 6.75V5.5H3.14851C2.89443 5.5 2.68075 5.69055 2.65177 5.94296L1.50352 15.943C1.46944 16.2398 1.70151 16.5 2.00025 16.5H13.484C13.7854 16.5 14.0183 16.2353 13.9799 15.9363L12.6949 5.93627C12.6628 5.68682 12.4505 5.5 12.199 5.5H11.7575V6.75C11.7575 7.16421 11.4217 7.5 11.0075 7.5C10.5932 7.5 10.2575 7.16421 10.2575 6.75V5.5ZM3.14851 4C2.13221 4 1.2775 4.76219 1.16156 5.77185L0.0133079 15.7718C-0.123008 16.959 0.805295 18 2.00025 18H13.484C14.6898 18 15.6214 16.941 15.4677 15.7451L14.1827 5.74509C14.0544 4.74727 13.205 4 12.199 4H3.14851Z" fill="url(#paint2_linear_1883:13435)"/>
<defs>
<linearGradient id="paint0_linear_1883:13435" x1="3.75781" y1="0" x2="12.3902" y2="1.61041" gradientUnits="userSpaceOnUse">
<stop stop-color="#79B8BB"/>
<stop offset="0.989583" stop-color="#8DADA0"/>
</linearGradient>
<linearGradient id="paint1_linear_1883:13435" x1="3.75781" y1="0" x2="12.3902" y2="1.61041" gradientUnits="userSpaceOnUse">
<stop stop-color="#79B8BB"/>
<stop offset="0.989583" stop-color="#8DADA0"/>
</linearGradient>
<linearGradient id="paint2_linear_1883:13435" x1="0" y1="4" x2="17.0069" y2="6.1932" gradientUnits="userSpaceOnUse">
<stop stop-color="#79B8BB"/>
<stop offset="0.989583" stop-color="#8DADA0"/>
</linearGradient>
</defs>
</svg>





              <span class="ctm-text"> Shop </span>
              
               <svg class="ctm-arrow" width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.179928 12.5837C-0.0393503 12.3645 -0.0592847 12.0213 0.120125 11.7795L0.179928 11.7103L5.50761 6.3823L0.179928 1.05433C-0.0393503 0.835052 -0.0592847 0.491918 0.120125 0.25012L0.179928 0.180846C0.399206 -0.0384321 0.742341 -0.0583668 0.984139 0.121043L1.05341 0.180846L6.81812 5.94555C7.0374 6.16483 7.05733 6.50797 6.87792 6.74976L6.81812 6.81904L1.05341 12.5837C0.812207 12.8249 0.421134 12.8249 0.179928 12.5837Z" fill="#E2E1F5"/>
              </svg>
            </a>
          </li>
          
          
          
          <li>
            <a href="#" class="custom-menu-link">
              

 <svg class="ctm-show-svg" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.7253 0C14.4711 0 16 1.602 16 4.347V13.644C16 16.434 14.4711 18 11.7253 18H4.27556C1.57333 18 0 16.434 0 13.644V4.347C0 1.602 1.57333 0 4.27556 0H11.7253ZM4.51556 12.366C4.24889 12.339 3.99111 12.465 3.84889 12.699C3.70667 12.924 3.70667 13.221 3.84889 13.455C3.99111 13.68 4.24889 13.815 4.51556 13.779H11.4844C11.8391 13.743 12.1067 13.4361 12.1067 13.077C12.1067 12.708 11.8391 12.402 11.4844 12.366H4.51556ZM11.4844 8.2611H4.51556C4.13244 8.2611 3.82222 8.577 3.82222 8.964C3.82222 9.351 4.13244 9.666 4.51556 9.666H11.4844C11.8667 9.666 12.1778 9.351 12.1778 8.964C12.1778 8.577 11.8667 8.2611 11.4844 8.2611ZM7.17244 4.185H4.51556V4.194C4.13244 4.194 3.82222 4.509 3.82222 4.896C3.82222 5.283 4.13244 5.598 4.51556 5.598H7.17244C7.55556 5.598 7.86667 5.283 7.86667 4.8861C7.86667 4.5 7.55556 4.185 7.17244 4.185Z" fill="#E2E1F5"/>
</svg>




              
              <svg class="ctm-hide-svg" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.3704 0C14.1397 0 16 1.94646 16 4.84309V13.1569C16 16.0789 14.197 17.9792 11.4066 17.9973L4.63044 18C1.86116 18 0 16.0535 0 13.1569V4.84309C0 1.92024 1.80303 0.0207936 4.59345 0.00361627L11.3696 0H11.3704ZM11.3704 1.3561L4.59785 1.35972C2.54732 1.37238 1.32122 2.67423 1.32122 4.84309V13.1569C1.32122 15.3402 2.55877 16.6439 4.62956 16.6439L11.4021 16.6412C13.4527 16.6285 14.6788 15.3249 14.6788 13.1569V4.84309C14.6788 2.65977 13.4421 1.3561 11.3704 1.3561ZM11.2005 12.1811C11.5652 12.1811 11.8611 12.4849 11.8611 12.8592C11.8611 13.2335 11.5652 13.5372 11.2005 13.5372H4.84105C4.47639 13.5372 4.18044 13.2335 4.18044 12.8592C4.18044 12.4849 4.47639 12.1811 4.84105 12.1811H11.2005ZM11.2005 8.39626C11.5652 8.39626 11.8611 8.70003 11.8611 9.07431C11.8611 9.4486 11.5652 9.75237 11.2005 9.75237H4.84105C4.47639 9.75237 4.18044 9.4486 4.18044 9.07431C4.18044 8.70003 4.47639 8.39626 4.84105 8.39626H11.2005ZM7.26743 4.62015C7.63208 4.62015 7.92804 4.92392 7.92804 5.2982C7.92804 5.67249 7.63208 5.97625 7.26743 5.97625H4.84078C4.47612 5.97625 4.18017 5.67249 4.18017 5.2982C4.18017 4.92392 4.47612 4.62015 4.84078 4.62015H7.26743Z" fill="url(#paint0_linear_1869:11988)"/>
<defs>
<linearGradient id="paint0_linear_1869:11988" x1="0" y1="0" x2="17.6757" y2="1.83194" gradientUnits="userSpaceOnUse">
<stop stop-color="#79B8BB"/>
<stop offset="0.989583" stop-color="#8DADA0"/>
</linearGradient>
</defs>
</svg>




              <span class="ctm-text"> Blog </span>
            </a>
          </li>
          
          <div class="ctm-space"></div>
          
           <li>
            <a href="#" class="custom-menu-link">
              <span class="ctm-text"> About Us </span>
            </a>
          </li>
          
          
          <li>
            <a href="#" class="custom-menu-link">
              <span class="ctm-text"> Contacts </span>
            </a>
          </li>
          
          
          <li>
            <a href="#" class="custom-menu-link">
              <span class="ctm-text"> Help </span>
            </a>
          </li>
          
           <div class="ctm-space"></div>
          
          <li>
            <a href="#" class="custom-menu-link">
              

	<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.9289 0C15.1729 0 17 1.7865 17 3.9825V14.0076C17 16.209 15.1683 18 12.9188 18H8.42456C6.18065 18 4.35442 16.2135 4.35442 14.0175V13.1697C4.35442 12.7971 4.66355 12.4947 5.04443 12.4947C5.42532 12.4947 5.73444 12.7971 5.73444 13.1697V14.0175C5.73444 15.4683 6.9415 16.65 8.42456 16.65H12.9188C14.4083 16.65 15.62 15.4656 15.62 14.0076V3.9825C15.62 2.5317 14.412 1.35 12.9289 1.35H8.43468C6.9461 1.35 5.73444 2.5344 5.73444 3.9906V4.8303C5.73444 5.2029 5.42532 5.5053 5.04443 5.5053C4.66355 5.5053 4.35442 5.2029 4.35442 4.8303V3.9906C4.35442 1.7901 6.18525 0 8.43468 0H12.9289ZM9.56105 5.8977L12.2557 8.52277C12.2776 8.54416 12.298 8.56696 12.3168 8.59104L12.2558 8.5221C12.2925 8.55753 12.3247 8.59666 12.3519 8.63859C12.3575 8.6491 12.3637 8.65936 12.3698 8.6698C12.3802 8.68591 12.3891 8.70304 12.3972 8.7205C12.4018 8.73288 12.4071 8.74519 12.412 8.75769C12.4199 8.7748 12.426 8.79238 12.4313 8.8102C12.4344 8.82423 12.4381 8.83823 12.4413 8.8524C12.4464 8.86956 12.4496 8.88683 12.4521 8.90422C12.4521 8.91213 12.4532 8.92044 12.4541 8.92879C12.4578 8.95255 12.4591 8.97622 12.4591 9L12.4524 9.0711L12.4516 9.09155C12.4514 9.09308 12.4512 9.09461 12.4509 9.09613L12.4591 9C12.4591 9.04996 12.4534 9.09943 12.4424 9.14753C12.4381 9.16177 12.4344 9.17577 12.4303 9.18959C12.426 9.20762 12.4199 9.2252 12.4131 9.24251C12.4071 9.2548 12.4018 9.26712 12.3962 9.27925C12.3891 9.29696 12.3802 9.31409 12.3706 9.33082C12.3637 9.34064 12.3575 9.3509 12.3509 9.36099C12.341 9.37816 12.3294 9.39445 12.3169 9.41025C12.3084 9.41958 12.3005 9.42914 12.2924 9.43847C12.2813 9.45223 12.2688 9.4653 12.2558 9.4779L9.56105 12.1014C9.42673 12.2328 9.25009 12.2985 9.07436 12.2985C8.89772 12.2985 8.72016 12.2328 8.58584 12.0996C8.31627 11.835 8.31811 11.4084 8.58768 11.1456L10.0971 9.675H0.69001C0.309124 9.675 0 9.3726 0 9C0 8.6274 0.309124 8.325 0.69001 8.325H10.0971L8.58768 6.8535C8.31811 6.5907 8.31627 6.1641 8.58584 5.8995C8.8554 5.6349 9.29149 5.6349 9.56105 5.8977Z" fill="url(#paint0_linear_2531:16533)"/>
<defs>
<linearGradient id="paint0_linear_2531:16533" x1="0" y1="0" x2="18.7547" y2="2.06526" gradientUnits="userSpaceOnUse">
<stop stop-color="#79B8BB"/>
<stop offset="0.989583" stop-color="#8DADA0"/>
</linearGradient>
</defs>
</svg>





              <span class="ctm-text login-menu-color"> Login </span>
            </a>
          </li>
          
          
          
          
          
        </ul>
       
      
        {%- unless section.settings.menu_primary == blank -%}
          <nav class="primary-menu">
            {% render 'sidebar-navigation', menu: menus[section.settings.menu_primary], type: 'primary' %}
          </nav>
        {%- endunless -%}

        {%- unless section.settings.menu_secondary == blank -%}
          <nav class="secondary-menu">
            {% render 'sidebar-navigation', menu: menus[section.settings.menu_secondary], type: 'secondary' %}
          </nav>
        {%- endunless -%}

        {%- if shop.customer_accounts_enabled -%}
          <ul class="sidebar__menu sidebar--accounts">
            <li>
              {%- if customer -%}
                <a href="{{ routes.account_url }}">
                  <span class="flex:1"><span class="underline-animation">{{ 'general.menu.logged_in' | t }}</span></span>
                </a>
              {%- else -%}
                <a href="{{ routes.account_login_url }}">
                  <span class="flex:1"><span class="underline-animation">{{ 'general.menu.logged_out' | t }}</span></span>
                </a>
              {%- endif -%}
            </li>
          </ul>
        {%- endif -%}

      </div>

      <div class="sidebar__footer">

        <div class="localization-form-holder">
          {%- render 'localization-form', location: 'sidebar', show_currency_selector: section.settings.show_currency_selector, show_locale_selector: section.settings.show_locale_selector -%}
        </div>

        {%- if section.settings.show_social_icons -%}
          {%- render 'social-icons' -%}
        {%- endif -%}

      </div>

    </div>

  </div>
  
  
  <div class="ctm-plan-menu">
    <div class="ctm-header">
      		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.8398L22 11.8398" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M6.86328 16.6836L1.9999 11.8418L6.86328 6.99836" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <defs>
                      <linearGradient id="paint0_linear" x1="22" y1="11.8398" x2="18.5312" y2="3.75082" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"></stop>
                      <stop offset="0.989583" stop-color="#8DADA0"></stop>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="6.86328" y1="16.6836" x2="1.45139" y2="16.3667" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"></stop>
                      <stop offset="0.989583" stop-color="#8DADA0"></stop>
                      </linearGradient>
                      </defs>
                    </svg>
      
      <span> Back </span>
      
      
     
      
      <svg class="ctm-plans-svg" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 5.5C4.60457 5.5 5.5 4.60457 5.5 3.5C5.5 2.39543 4.60457 1.5 3.5 1.5C2.39543 1.5 1.5 2.39543 1.5 3.5C1.5 4.60457 2.39543 5.5 3.5 5.5ZM3.5 7C5.433 7 7 5.433 7 3.5C7 1.567 5.433 0 3.5 0C1.567 0 0 1.567 0 3.5C0 5.433 1.567 7 3.5 7ZM9.75 3C9.33579 3 9 3.33579 9 3.75C9 4.16421 9.33579 4.5 9.75 4.5H17.25C17.6642 4.5 18 4.16421 18 3.75C18 3.33579 17.6642 3 17.25 3H9.75ZM0.75 14C0.335786 14 0 14.3358 0 14.75C0 15.1642 0.335786 15.5 0.75 15.5H8.25C8.66421 15.5 9 15.1642 9 14.75C9 14.3358 8.66421 14 8.25 14H0.75ZM16.5 14.5C16.5 15.6046 15.6046 16.5 14.5 16.5C13.3954 16.5 12.5 15.6046 12.5 14.5C12.5 13.3954 13.3954 12.5 14.5 12.5C15.6046 12.5 16.5 13.3954 16.5 14.5ZM18 14.5C18 16.433 16.433 18 14.5 18C12.567 18 11 16.433 11 14.5C11 12.567 12.567 11 14.5 11C16.433 11 18 12.567 18 14.5Z" fill="url(#paint0_linear_2531:13837)"/>
      <defs>
      <linearGradient id="paint0_linear_2531:13837" x1="0" y1="0" x2="19.8292" y2="2.31203" gradientUnits="userSpaceOnUse">
      <stop stop-color="#79B8BB"/>
      <stop offset="0.989583" stop-color="#8DADA0"/>
      </linearGradient>
      </defs>
      </svg>

      
    </div>
    
    <div class="ctm-plan-link">
      	<ul>
          <li><a href="#">For You</a></li>
          <li><a href="#">For A Child</a></li>
          <li><a href="#">For A Friend</a></li>
      </ul>
    </div>
  
  </div>
  
  
  
  <div class="ctm-shop-menu">
    <div class="ctm-header">
      		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.8398L22 11.8398" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M6.86328 16.6836L1.9999 11.8418L6.86328 6.99836" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <defs>
                      <linearGradient id="paint0_linear" x1="22" y1="11.8398" x2="18.5312" y2="3.75082" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"></stop>
                      <stop offset="0.989583" stop-color="#8DADA0"></stop>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="6.86328" y1="16.6836" x2="1.45139" y2="16.3667" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"></stop>
                      <stop offset="0.989583" stop-color="#8DADA0"></stop>
                      </linearGradient>
                      </defs>
                    </svg>
      
      <span> Back </span>
      
      
     
      
             <svg class="ctm-plans-svg" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1_2531:13885" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0498 5C10.1836 4.69377 10.2578 4.35555 10.2578 4C10.2578 2.61929 9.13852 1.5 7.75781 1.5C6.3771 1.5 5.25781 2.61929 5.25781 4C5.25781 4.35555 5.33204 4.69377 5.46583 5H3.88383C3.80157 4.68038 3.75781 4.3453 3.75781 4C3.75781 1.79086 5.54867 0 7.75781 0C9.96695 0 11.7578 1.79086 11.7578 4C11.7578 4.3453 11.7141 4.68038 11.6318 5H10.0498Z"/>
        </mask>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0498 5C10.1836 4.69377 10.2578 4.35555 10.2578 4C10.2578 2.61929 9.13852 1.5 7.75781 1.5C6.3771 1.5 5.25781 2.61929 5.25781 4C5.25781 4.35555 5.33204 4.69377 5.46583 5H3.88383C3.80157 4.68038 3.75781 4.3453 3.75781 4C3.75781 1.79086 5.54867 0 7.75781 0C9.96695 0 11.7578 1.79086 11.7578 4C11.7578 4.3453 11.7141 4.68038 11.6318 5H10.0498Z" fill="url(#paint0_linear_2531:13885)"/>
        <path d="M10.0498 5L9.13344 4.59963L8.52159 6H10.0498V5ZM5.46583 5V6H6.99404L6.38219 4.59963L5.46583 5ZM3.88383 5L2.91539 5.24926L3.10862 6H3.88383V5ZM11.6318 5V6H12.407L12.6002 5.24926L11.6318 5ZM10.9661 5.40037C11.1541 4.97026 11.2578 4.49593 11.2578 4H9.25781C9.25781 4.21518 9.21311 4.41728 9.13344 4.59963L10.9661 5.40037ZM11.2578 4C11.2578 2.067 9.69081 0.5 7.75781 0.5V2.5C8.58624 2.5 9.25781 3.17157 9.25781 4H11.2578ZM7.75781 0.5C5.82482 0.5 4.25781 2.067 4.25781 4H6.25781C6.25781 3.17157 6.92939 2.5 7.75781 2.5V0.5ZM4.25781 4C4.25781 4.49593 4.36156 4.97026 4.54948 5.40037L6.38219 4.59963C6.30252 4.41728 6.25781 4.21518 6.25781 4H4.25781ZM5.46583 4H3.88383V6H5.46583V4ZM4.85227 4.75074C4.79078 4.51187 4.75781 4.26051 4.75781 4H2.75781C2.75781 4.43009 2.81235 4.84889 2.91539 5.24926L4.85227 4.75074ZM4.75781 4C4.75781 2.34315 6.10096 1 7.75781 1V-1C4.99639 -1 2.75781 1.23858 2.75781 4H4.75781ZM7.75781 1C9.41467 1 10.7578 2.34315 10.7578 4H12.7578C12.7578 1.23858 10.5192 -1 7.75781 -1V1ZM10.7578 4C10.7578 4.26051 10.7248 4.51187 10.6634 4.75074L12.6002 5.24926C12.7033 4.84889 12.7578 4.43009 12.7578 4H10.7578ZM11.6318 4H10.0498V6H11.6318V4Z" fill="url(#paint1_linear_2531:13885)" mask="url(#path-1-inside-1_2531:13885)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2575 5.5H5.25746V6.75C5.25746 7.16421 4.92167 7.5 4.50746 7.5C4.09325 7.5 3.75746 7.16421 3.75746 6.75V5.5H3.14851C2.89443 5.5 2.68075 5.69055 2.65177 5.94296L1.50352 15.943C1.46944 16.2398 1.70151 16.5 2.00025 16.5H13.484C13.7854 16.5 14.0183 16.2353 13.9799 15.9363L12.6949 5.93627C12.6628 5.68682 12.4505 5.5 12.199 5.5H11.7575V6.75C11.7575 7.16421 11.4217 7.5 11.0075 7.5C10.5932 7.5 10.2575 7.16421 10.2575 6.75V5.5ZM3.14851 4C2.13221 4 1.2775 4.76219 1.16156 5.77185L0.0133079 15.7718C-0.123008 16.959 0.805295 18 2.00025 18H13.484C14.6898 18 15.6214 16.941 15.4677 15.7451L14.1827 5.74509C14.0544 4.74727 13.205 4 12.199 4H3.14851Z" fill="url(#paint2_linear_2531:13885)"/>
        <defs>
        <linearGradient id="paint0_linear_2531:13885" x1="3.75781" y1="0" x2="12.3902" y2="1.61041" gradientUnits="userSpaceOnUse">
        <stop stop-color="#79B8BB"/>
        <stop offset="0.989583" stop-color="#8DADA0"/>
        </linearGradient>
        <linearGradient id="paint1_linear_2531:13885" x1="3.75781" y1="0" x2="12.3902" y2="1.61041" gradientUnits="userSpaceOnUse">
        <stop stop-color="#79B8BB"/>
        <stop offset="0.989583" stop-color="#8DADA0"/>
        </linearGradient>
        <linearGradient id="paint2_linear_2531:13885" x1="0" y1="4" x2="17.0069" y2="6.1932" gradientUnits="userSpaceOnUse">
        <stop stop-color="#79B8BB"/>
        <stop offset="0.989583" stop-color="#8DADA0"/>
        </linearGradient>
        </defs>
        </svg>


      
    </div>
    
    <div class="ctm-plan-link">
      	<ul>
          <li><a href="#">Bottles</a></li>
          <li><a href="#">Post Cards</a></li>
          <li><a href="#">Stars</a></li>
          <li><a href="#">Tees</a></li>
      </ul>
    </div>
  
  </div>
  
  

</div>




{%- if settings.cart_action == 'overlay' -%}

  <div id="site-cart-sidebar" class="sidebar sidebar--right" tabindex="-1" role="dialog" aria-modal="true">

    <div class="sidebar__container">

      <div class="sidebar__close">
        <button class="close-sidebar" aria-label="{{ 'general.menu.close_button' | t }}">
          <span class="aria-hidden">{%- render 'theme-symbols', icon: 'close' -%}</span>
          <span class="close-sidebar__text">{{ 'general.menu.close_button' | t }}</span>
        </button>
      </div>

      <span class="site-cart-heading sidebar__caption" data-added-singular="{{ 'cart.added_items_count.one' | t }}" data-added-plural="{{ 'cart.added_items_count.other' | t }}">{{ 'cart.items_count' | t: count: cart.item_count }}</span>

      <div class="sidebar__content">
        {%- unless template contains 'cart' -%}
          {%- render 'cart-form', type: 'sidebar' -%}
        {%- endunless -%}
      </div>

    </div>

  </div>

{%- endif -%}

{%- if settings.predictive_search_enabled -%}

  <div id="site-search-sidebar" class="sidebar sidebar--right" tabindex="-1" role="dialog" aria-modal="true">

    <div class="sidebar__container">

      <div class="sidebar__close">
        <button class="close-sidebar" aria-label="{{ 'general.menu.close_button' | t }}">
          <span class="aria-hidden">{%- render 'theme-symbols', icon: 'close' -%}</span>
          <span class="close-sidebar__text">{{ 'general.menu.close_button' | t }}</span>
        </button>
      </div>

      <div class="sidebar__content">
        {%- render 'search-form' -%}
        <div class="sidebar__search-container">
          <div class="sidebar__search-results"></div>
          <div class="sidebar__search-link"></div>
        </div>
      </div>

    </div>

  </div>

{%- endif -%}
  
  
</div>



{% schema %}
  {
    "name": "Header",
    "class": "mount-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_src",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_height",
        "label": "Logo image maximum height",
        "unit": "px",
        "min": 25,
        "max": 100,
        "step": 1,
        "default": 40
      },
      {
        "type": "checkbox",
        "id": "show_icon_labels",
        "label": "Show menu icon labels on desktop",
        "default": true
      },
      {
        "type": "link_list",
        "id": "menu_primary",
        "label": "Primary navigation",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "menu_secondary",
        "label": "Secondary navigation"
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": false
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": false
      }
    ]
  }
{% endschema %}


