<div class="section-header five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
  <h1 class="section-header__title h1">{{ 'collections.title' | t }}</h1>
</div>

{%- liquid
	assign collection_count = 0
	assign isEmpty = true

	if section.settings.display_type == 'all'
	  case section.settings.sort
	    when 'products_high' or 'products_low'
	      assign list_collections = collections | sort: 'all_products_count'
	    when 'date' or 'date_reversed'
	      assign list_collections = collections | sort: 'published_at'
	    else
	      assign list_collections = collections
	  endcase
	  for collection in list_collections
	    unless collection.handle == 'frontpage'
	      assign collection_count = collection_count | plus: 1
	    endunless
	  endfor
	else
	  assign collection_count = section.blocks.size
	endif

	if collection_count > 0
	  assign isEmpty = false
	endif
-%}

<div class="image-with-text-overlay-holder image-with-text-overlay-holder--regular grid">

	{%- liquid

	  if section.settings.display_type == 'all'

	    if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical'

	      if isEmpty
	        echo '<p class="no-content-message text-size--largest push-left-one-tenth lap--push-left-none">'
	        	echo 'collections.no_collections' | t
	        echo '</p>'
	      else
	      	assign custom_index = -1
	        for collection in list_collections
	          if collection.handle == 'frontpage'
	            continue
	          else 
	          	assign custom_index = custom_index | plus: 1
	          endif
	          render 'collection-item', collection: collection, text_alignment: section.settings.text_alignment, index: custom_index, size: forloop.length
	        endfor
	      endif

	    else

	      if isEmpty
	        echo '<p class="no-content-message text-size--largest push-left-one-tenth lap--push-left-none">'
	        	echo 'collections.no_collections' | t
	        echo '</p>'
	      else
	      	assign custom_index = -1
	        for collection in list_collections reversed
	          if collection.handle == 'frontpage'
	            continue
	          else 
	          	assign custom_index = custom_index | plus: 1
	          endif
	          render 'collection-item', collection: collection, text_alignment: section.settings.text_alignment, index: custom_index, size: forloop.length
	        endfor
	      endif

	    endif

	  else

	    if section.blocks == empty

	    else
	      for block in section.blocks
	        render 'collection-item', collection: collections[block.settings.collection], text_alignment: section.settings.text_alignment, image: block.settings.image, index: forloop.index0, size: section.blocks.size, shopify_attributes: block.shopify_attributes
	      endfor
	    endif

	  endif

	-%}

</div>

{%- if section.settings.color_text != 'rgba(0,0,0,0)' -%}
  {%- style -%}
    #shopify-section-{{ section.id }} .image-with-text-overlay-holder,
    #shopify-section-{{ section.id }} .image-with-text-overlay__wrap,
    #shopify-section-{{ section.id }} .image-with-text-overlay-holder .button {
      color: {{ section.settings.color_text }};
    }
    #shopify-section-{{ section.id }} .image-with-text-overlay-holder .button {
      border-color: {{ section.settings.color_text }};
    }
    #shopify-section-{{ section.id }} .image-with-text-overlay-holder .button svg rect, 
    #shopify-section-{{ section.id }} .image-with-text-overlay-holder .button svg path {
      fill: {{ section.settings.color_text }};
    }
    #shopify-section-{{ section.id }} a .image-with-text-overlay__heading span {
      background-image: linear-gradient(to right, {{ section.settings.color_text }}, {{ section.settings.color_text }});
    }
  {%- endstyle -%}
{%- endif -%}

{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
  {%- style -%}
    #shopify-section-{{ section.id }} .image-with-text-overlay__background:after {
      background: {{ section.settings.color_bg }}
    }
  {%- endstyle -%}
{%- endif -%}


{% schema %}
	{	  
		"name": "Collections list",
		"class": "section-w-mobile-padding section-w-margin",
		"settings": [
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "horizontal-left vertical-top",
            "label": "Left top"
          },
          {
            "value": "horizontal-center vertical-top",
            "label": "Center top"
          },
          {
            "value": "horizontal-right vertical-top",
            "label": "Right top"
          },
          {
            "value": "horizontal-left vertical-middle",
            "label": "Left middle"
          },
          {
            "value": "horizontal-center vertical-middle",
            "label": "Center middle"
          },
          {
            "value": "horizontal-right vertical-middle",
            "label": "Right middle"
          },
          {
            "value": "horizontal-left vertical-bottom",
            "label": "Left bottom"
          },
          {
            "value": "horizontal-center vertical-bottom",
            "label": "Center bottom"
          },
          {
            "value": "horizontal-right vertical-bottom",
            "label": "Right bottom"
          }
        ],
        "default": "horizontal-left vertical-bottom"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Custom text color"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background overlay"
      },
      {
				"type": "header",
				"content": "Collections"
      },
		  {
		    "type": "paragraph",
	      "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
		  },
		  {
		    "type": "radio",
		    "id": "display_type",
	      "label": "Select collections to show",
		    "default": "all",
		    "options": [
		      {
		        "value": "all",
	          "label": "All"
		      },
		      {
		        "value": "selected",
	          "label": "Selected"
		      }
		    ]
		  },
		  {
		    "type": "select",
		    "id": "sort",
	      "label": "Sort collections by:",
	      "info": "Sorting only applies when 'All' is selected",
		    "default": "alphabetical",
		    "options": [
		      {
		        "value": "products_high",
	          "label": "Product count, high to low"
		      },
		      {
		        "value": "products_low",
	          "label": "Product count, low to high"
		      },
		      {
		        "value": "alphabetical",
	          "label": "Alphabetically, A-Z"
		      },
		      {
		        "value": "alphabetical_reversed",
	          "label": "Alphabetically, Z-A"
		      },
		      {
		        "value": "date",
	          "label": "Date, old to new"
		      },
		      {
		        "value": "date_reversed",
	          "label": "Date, new to old"
		      }
		    ]
		  }
		],
		"blocks": [
		  {
		    "type": "collection",
	      "name": "Collection",
		    "settings": [
	        {
	          "type": "collection",
	          "id": "collection",
	          "label": "Collection"
	        },
	        {
	          "type": "image_picker",
	          "id": "image",
	          "label": "Image",
	          "info": "If the collection doesn't have a featured image."
	        }
		    ]
		  }
		]
	}
{% endschema %}