<div class="rich-text 
  rich-text--{{ section.settings.text_alignment }}-align 
  rich-text--{{ section.settings.text_size }}-size
  {% if section.settings.title != blank %} rich-text--has-title {% endif %}
  {% if section.settings.button_label != blank %} rich-text--has-button {% endif %}
  {% if section.blocks.size > 0 %} rich-text--has-images {% endif %}
">

  <div class="
    {% if section.settings.text_size == 'regular' %}
      six-tenths
    {% elsif section.settings.text_size == 'large' %}
      eight-tenths lap--nine-tenths smaller-lap--full-width
    {% else %}
      ten-tenths
    {% endif %}
    push-left-one-tenth push-right-one-tenth lap--push-left-none lap--push-right-none
  ">

    <div
      {% if section.blocks.size > 0 %} 
        data-scroll-parent="shopify-section-{{ section.id}}" 
        data-scroll data-scroll-resistance data-scroll-mobile
        data-scroll-speed="1"
      {% endif %}
    >

      {%- if section.settings.title != blank -%}
        <div class="section-header">
          <span class="section-header__title h4">{{ section.settings.title | escape }}</span>
        </div>
      {%- endif -%}

      <div class="rich-text__content rte">{{ section.settings.content }}</div>

      {%- if section.settings.button_label != blank -%}
        <a class="button button--underline" href="{{ section.settings.button_link }}" title="{{ section.settings.button_label | escape }}">
          {{ section.settings.button_label | escape }}
          <span class="svg svg__arrow" aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-right' %}</span>
        </a>
      {%- endif -%}

    </div>

    {%- if section.blocks.size > 0 -%}

      <div class="rich-text__images
        {% if section.settings.text_alignment == 'left' %}
          push-left-two-tenths smaller-lap--push-left-none
        {% elsif section.settings.text_alignment == 'right' %}
          pull-left-three-tenths smaller-lap--pull-left-five-tenths
        {% else %}
          {% if section.settings.text_size == 'extra' %}
            pull-left-one-tenth
          {% endif %}
          smaller-lap--pull-left-one-tenth
        {% endif %}
      " aria-hidden="true">
        {%- for block in section.blocks -%}
          <div
            {% if forloop.index == 1 and section.settings.text_alignment == 'center' %}
              class="pull-right-one-tenth"
            {% elsif forloop.index == 2 %}
              {% unless section.settings.text_alignment == 'center' %}
                class="push-right-four-tenths"
              {% else %}
                class="push-right-five-tenths lap--push-right-seven-tenths"
              {% endunless %}
            {% else %}
              class="push-right-two-tenths"
            {% endif %}
          >
            {%- unless block.settings.image == blank -%}
              <div class="
                {% if block.settings.image.aspect_ratio > 1 %}
                  two-tenths lap--two-plus-tenths palm--three-plus-tenths
                {% else %}
                  one-plus-tenth lap--two-tenths palm--three-tenths
                {% endif %}
              ">
                {%- render 'lazy-image', image: block.settings.image -%}
              </div>
            {%- else -%}
              <div class="one-plus-tenth">
                <span class="onboarding-svg one-plus-tenth">
                  {{ 'image' | placeholder_svg_tag }}
                </span>
              </div>
            {%- endunless -%}
          </div>
        {%- endfor -%}
      </div>

    {%- endif -%}

  </div>

</div>

{% schema %}
  {
    "name": "Rich text",
    "class": "mount-rich-text mount-parallax section-w-margin section-w-mobile-padding",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Rich text"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Write some information about your brand, products or story.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "options": [
          {
            "value": "regular",
            "label": "Regular"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "extra",
            "label": "Extra large"
          }
        ],
        "default": "large"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}