{%- assign text_brightness = settings.color_text | color_brightness -%}

<div class="vertical-slider {% if text_brightness < 60 %} has-black-text {% endif %}">

  {%- for block in section.blocks -%}

    {%- liquid
      assign index = forloop.index0 | modulo: 3
      if index == 0
        assign primary_class = 'push-right-one-tenth lap--push-right-padding'
        assign secondary_class_p = 'pull-right-half-tenth'
        assign secondary_class_l = 'pull-right-one-tenth'
        assign third_class = 'push-right-one-plus-tenth'
      elsif index == 1
        assign primary_class = 'push-right-two-tenths'
        assign secondary_class_p = 'pull-right-half-tenth'
        assign secondary_class_l = 'pull-right-one-plus-tenth'
        assign third_class = 'push-right-one-tenth'
      elsif index == 2
        assign primary_class_p = 'push-left-four-tenths'
        assign primary_class_l = 'push-left-three-tenths'
        assign secondary_class_p = 'pull-left-half-tenth'
        assign secondary_class_l = 'pull-left-one-tenth'
        assign third_class_p = 'push-left-three-tenths'
        assign third_class_l = 'push-left-two-tenths'
      endif 
      assign cycle = forloop.index | modulo: 2

    -%}

    <div class="slide" id="slide-{{ block.id }}" 
      data-index="{{ index }}" 
      {% if block.settings.image2 != blank and block.settings.image3 != blank %} data-images="3" {% endif %} 
      {% if forloop.last %} data-last="true" {% endif %}
      {% if forloop.first %} data-first="true" {% endif %}
      {% unless block.settings.button_label == blank %} data-link {% endunless %}
      {{ block.shopify_attributes }}
    >

      <!-- headings -->
      <div class="slide-heading slide-heading--align-left
        ten-tenths palm--full-width push-left-one-tenth lap--push-left-padding palm--push-left-none" 
        {% if forloop.first %} data-first="true" {% endif %}
      >

        {%- unless block.settings.heading == blank -%}
          <h2 class="slide-title seven-tenths palm--full-width"><span>{{ block.settings.heading | escape }}</span></h2>
        {%- endunless -%}

        {%- unless block.settings.caption == blank -%}
          <span class="slide-caption seven-tenths palm--full-width h4">{{ block.settings.caption | escape }}</span>
        {%- endunless -%}

        {%- unless block.settings.button_label == blank -%}
          <a class="slide-button button button--underline palm--hide" href="{{ block.settings.button_link }}" title="{{ block.settings.button_label | escape }}">{{ block.settings.button_label | escape }}<span class="svg svg__arrow" aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-right' %}</span></a>
        {%- endunless -%}

      </div>

      <!-- primary image -->
      <div class="slide-image slide-image--primary 
        {% if block.settings.image1.aspect_ratio > 1 %} 
          six-tenths lap--seven-tenths 
        {% else %} 
          five-tenths lap--six-tenths 
        {% endif %} 
        {% if index == 2 %}
          {% if block.settings.image2.aspect_ratio < 1 %} 
            {{ primary_class_p }} 
          {% else %} 
            {{ primary_class_l }} 
          {% endif %}
        {% else %}
          {{ primary_class }}
        {% endif %}
        palm--full-width palm--push-right-none palm--push-left-none"
        data-scroll-speed="-.2" data-scroll-parent="slide-{{ block.id }}" data-scroll-mirror 
        {% if block.settings.image2 != blank or block.settings.image3 != blank %}
          data-scroll-mobile
        {% endif %}
        {% unless block.settings.image1_caption == blank %} data-caption {% endunless %}
      >

        {% if block.settings.image1 != blank %}
          {%- render 'lazy-image', image: block.settings.image1, alt: block.settings.image1_caption -%}
        {%- else -%}
          <span class="onboarding-svg">
            {{ 'image' | placeholder_svg_tag }}
          </span>
        {%- endif -%}

        {%- unless block.settings.image1_caption == blank -%}
          <div class="slide-image__caption slide-image__caption--right palm--hide">
            <div class="rte">
              {{ block.settings.image1_caption }}
            </div>
          </div>
        {%- endunless -%}

      </div>

      <!-- secondary image -->
      {% if block.settings.image2 != blank %}
        <div class="slide-image slide-image--secondary push-top-one-tenth
          {% if block.settings.image2.aspect_ratio < 1 %} 
            two-tenths lap--two-plus-tenths {{ secondary_class_p }} 
          {% else %} 
            two-plus-tenths lap--three-tenths {{ secondary_class_l }} 
          {% endif %}
          palm--seven-tenths 
          {% if block.settings.image3 != blank %} 
            palm--pull-top-two-tenths 
          {% else %}
            palm--pull-top-none palm--push-top-one-tenth
          {% endif %}
          {% if cycle == 0 %}
            palm--push-right-one-tenth
          {% else %}
            palm--push-left-one-tenth palm--pull-right-none
          {% endif %}
          " 
          data-scroll-speed="1" data-scroll-parent="slide-{{ block.id }}" data-scroll-mobile
          {% unless block.settings.image2_caption == blank %} data-caption {% endunless %}
        >

          {%- render 'lazy-image', image: block.settings.image2, alt: block.settings.image2_caption -%}

          {%- unless block.settings.image2_caption == blank -%}
            <div class="slide-image__caption slide-image__caption--left palm--hide">
              <div class="rte">
                {{ block.settings.image2_caption }}
              </div>
            </div>
          {%- endunless -%}

        </div>
      {%- endif -%}

      <div class="slide-break palm--hide"></div>

      <!-- third image -->
      {% if block.settings.image3 != blank %}
        <div class="slide-image slide-image--third push-top-half-tenth
          {% if block.settings.image3.aspect_ratio < 1 %} 
            one-plus-tenth lap--two-tenths 
          {% else %} 
            two-tenths lap--two-plus-tenths
          {% endif %} 
          {% if index == 2 %}
            {% if block.settings.image2.aspect_ratio < 1 %} 
              {{ third_class_p }} 
            {% else %} 
              {{ third_class_l }} 
            {% endif %}
          {% else %}
            {{ third_class }}
          {% endif %}
          palm--four-tenths palm--pull-right-one-tenth
          {% if cycle == 0 %}
            palm--push-left-one-tenth
          {% else %}
            palm--pull-left-one-tenth
          {% endif %}
          "
          data-scroll-speed=".3" data-scroll-parent="slide-{{ block.id }}" data-scroll-mobile
          {% unless block.settings.image3_caption == blank %} data-caption {% endunless %}
        >

          {%- render 'lazy-image', image: block.settings.image3, alt: block.settings.image3_caption -%}

          {%- unless block.settings.image3_caption == blank -%}
            <div class="slide-image__caption slide-image__caption--right palm--hide rte">
              <div class="rte">
                {{ block.settings.image3_caption }}
              </div>
            </div>
          {%- endunless -%}

        </div>
      {%- endif -%}

      {%- unless block.settings.button_label == blank -%}
        <div class="slide-button__holder hide palm--show-inline" style="width:100%">
          <a class="slide-button button button--underline" href="{{ block.settings.button_link }}" title="{{ block.settings.button_label | escape }}">{{ block.settings.button_label | escape }}<span class="svg svg__arrow" aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-right' %}</span></a>
        </div>
      {%- endunless -%}

    </div>

  {%- endfor -%}

  <div class="vertical-slider-headings {% if text_brightness < 60 %} has-black-text {% endif %}"></div>

</div>

{% schema %}
  {
    "name": "Slideshow: vertical",
    "class": "mount-vertical-slideshow mount-parallax section-w-margin",
    "max_blocks": 8,
    "blocks": [
    	{
	      "type": "image",
	      "name": "Image",
	      "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Welcome to our store"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Caption",
            "default": "Showcase your best products"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "header",
            "content": "Media"
          },
	        {
	          "type": "image_picker",
	          "id": "image1",
	          "label": "Main image"
	        },
	        {
	          "type": "richtext",
	          "id": "image1_caption",
	          "label": "Caption for main image",
            "info": "Only shown on desktop. It will be truncated in case it's too large."
	        },
	        {
	          "type": "image_picker",
	          "id": "image2",
	          "label": "Secondary image"
	        },
	        {
	          "type": "richtext",
	          "id": "image2_caption",
	          "label": "Caption for secondary image",
            "info": "Only shown on desktop. It will be truncated in case it's too large."
	        },
	        {
	          "type": "image_picker",
	          "id": "image3",
	          "label": "Third image"
	        },
          {
            "type": "richtext",
            "id": "image3_caption",
            "label": "Caption for third image",
            "info": "Only shown on desktop. It will be truncated in case it's too large."
          }
	      ]
	    }
	  ],
    "presets": [{
      "name": "Slideshow: vertical",
      "category": "Image",
      "blocks": [{
        "type": "image",
        "settings": {
          "heading": "Welcome to our store",
          "caption": "Showcase your best products",
          "button_label": "Explore all"
        }
      },{
        "type": "image",
        "settings": {
          "heading": "Write about yourself",
          "caption": "Include some awesome images",
          "button_label": "Learn more"
        }
      },{
        "type": "image",
        "settings": {
          "heading": "Promote your products",
          "caption": "Include various promotions and flash sales",
          "button_label": "Shop now"
        }
      }]
    }]
  }
{% endschema %}