<div class="store-availability-container"
  data-section-id="{{ section.id }}"
  data-section-type="store-availability"
  id="StoreAvailability"
>

  {%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
  {%- if pick_up_availabilities.size > 0 -%}

    <div class="store-availability-information">
      {%- assign closest_location = pick_up_availabilities.first -%}
        {%- if closest_location.available -%} {% render 'theme-symbols', icon: 'in_stock' %} {%- else -%} {% render 'theme-symbols', icon: 'out_of_stock' %} {%- endif -%}
        <div class="store-availability-information-container">
          {%- if closest_location.available -%}
            <p class="store-availability-information__title">
              {{ 'store_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
            </p>
            <p class="store-availability-information__stock store-availability-small-text">
              {{ closest_location.pick_up_time }}
            </p>
            <p class="store-availability-information__stores">
              <a href="#StoreAvailabilityModal" class="store-availability-information__link js-modal-open-store-availability-modal store-availability-small-text" data-store-availability-modal-open aria-haspopup="dialog">
                {%- if pick_up_availabilities.size == 1 -%}
                  {{ 'store_availability.view_store_info' | t }}
                {%- else -%}
                  {{ 'store_availability.check_other_stores' | t }}
                {%- endif -%}
              </a>
            </p>
          {%- else -%}
            <p class="store-availability-information__title">
              {{ 'store_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
            </p>
            {%- if pick_up_availabilities.size > 1 -%}
              <p class="store-availability-information__stores" data-size="{{ pick_up_availabilities.size }}">
                <a href="#StoreAvailabilityModal" class="store-availability-information__link js-modal-open-store-availability-modal store-availability-small-text" data-store-availability-modal-open aria-haspopup="dialog">
                  {{ 'store_availability.check_other_stores' | t }}
                </a>
              </p>
            {%- endif -%}
        {%- endif -%}
        </div>
    </div>

    <div
      class="sidebar sidebar--right" tabindex="-1" id="StoreAvailabilityModal" role="dialog" aria-modal="true" aria-labelledby="StoreAvailabilitiesModalProductTitle"
    >

      <div class="sidebar__container">

        <div class="sidebar__close">
          <button class="close-sidebar" aria-label="{{ 'general.menu.close_button' | t }}">
            <span class="aria-hidden">{%- render 'theme-symbols', icon: 'close' -%}</span>
            <span class="close-sidebar__text">{{ 'general.menu.close_button' | t }}</span>
          </button>
        </div>

        <div class="store-availability-heading">
          <div class="sidebar-title">
            <div>
              <span
                id="StoreAvailabilitiesModalProductTitle"
                class="title"
                data-store-availability-modal-product-title
              ></span>
              <p class="store-availabilities-modal__variant-title store-availability-small-text">
                {{ product_variant.title }}
              </p>
            </div>
          </div>
        </div>

        <div class="sidebar__content store-availability-container">

          {%- assign closest_location_country_code = pick_up_availabilities.first.location.address.country_code -%}
          {%- assign imperialSystemCountries = 'US,MM,LR' | split: ',' -%}
          {%- if imperialSystemCountries contains closest_location_country_code -%}
            {%- assign unit_system = 'imperial' -%}
          {%- else -%}
            {%- assign unit_system = 'metric' -%}
          {%- endif -%}
          <ul class="store-availabilities-list" role="list" data-unit-system="{{ unit_system }}">
            {%- for availability in pick_up_availabilities -%}
              <li class="store-availability-list__item">
                <div class="store-availability-list-header">
                  <h3 class="store-availability-list-header__location">
                    {{ availability.location.name }}
                  </h3>
                  <p
                    class="store-availability-list-header__distance"
                  >
                    <span
                      data-distance
                      data-latitude="{{ availability.location.latitude }}"
                      data-longitude="{{ availability.location.longitude }}"
                    >
                    </span>
                    <span
                      data-distance-unit
                    >
                      {%- if unit_system == 'imperial' -%}
                        {{ 'store_availability.miles' | t }}
                      {%- else -%}
                        {{ 'store_availability.kilometers' | t }}
                      {%- endif -%}
                    </span>
                  </p>
                </div>
                <small class="store-availability-list__stock store-availability-small-text">
                  {%- if availability.available -%}
                    {% render 'theme-symbols', icon: 'in_stock' %} {{ 'store_availability.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
                  {%- else -%}
                    {% render 'theme-symbols', icon: 'out_of_stock' %} {{ 'store_availability.pick_up_currently_unavailable' | t }}
                  {%- endif -%}
                </small>
                {%- assign address = availability.location.address -%}
                <address class="store-availability-list__address">
                  {{ address | format_address }}
                </address>
                {%- if address.phone.size > 0 -%}
                  <p class="store-availability-list__phone store-availability-small-text">
                    <a href="tel:{{ address.phone }}">{{ address.phone }}</a><br>
                  </p>
                {%- endif -%}
                {%- unless availability.location.latitude and availability.location.longitude -%}
                  <small class="store-availability-list__invalid">
                    {% render 'theme-symbols', icon: 'alert' %} {{ 'store_availability.invalid_location_address' | t }}
                  </small>
                {%- endunless -%}
              </li>
            {%- endfor -%}
          </ul>

        </div>

      </div>

    </div>

  {%- endif -%}

</div>

{% schema %}
{
  "name": {},
  "settings": []
}
{% endschema %}
