<!-- <div class="shopify-section section-w-margin section-w-mobile-padding" id="section-{{ page.title | handle }}">
  <div class="section-header five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <h1 class="section-header__title h1">{{ page.title | escape }}</h1>
  </div>
  <div class="five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div> -->

{%- section 'search-box' -%}


<!-- 			<div class="study-info" id="info-about-btn">
                    <span class="info-content">i</span>
			</div>

			<div class="study-info-about" >
              
					<div class="study-infos">
                    	<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13.295 2.115C13.6844 1.72564 13.6844 1.09436 13.295 0.705C12.9056 0.315639 12.2744 0.315639 11.885 0.705L7 5.59L2.115 0.705C1.72564 0.315639 1.09436 0.315639 0.705 0.705C0.315639 1.09436 0.315639 1.72564 0.705 2.115L5.59 7L0.705 11.885C0.315639 12.2744 0.315639 12.9056 0.705 13.295C1.09436 13.6844 1.72564 13.6844 2.115 13.295L7 8.41L11.885 13.295C12.2744 13.6844 12.9056 13.6844 13.295 13.295C13.6844 12.9056 13.6844 12.2744 13.295 11.885L8.41 7L13.295 2.115Z" fill="url(#paint0_linear)"/>
                          <defs>
                          <linearGradient id="paint0_linear" x1="0" y1="0" x2="15.4227" y2="1.79824" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#79B8BB"/>
                          <stop offset="0.989583" stop-color="#8DADA0"/>
                          </linearGradient>
                          </defs>
                        </svg>
                  	</div>	
              	<div class="second-selection study-content-panel">
                    <span>About</span>
                    <p>Read the verse in different versions and one or more verses before and after for context. Hightlight keywords that stand out to you.</p>
                  	
                                    
                </div>
              
			</div> -->


<div class="search-page-content purchase-you purchase-active purchase-container">
  
  <div class="study-p-1-img">
        <img src="{{ 'promise-heading.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/promise-heading.png?42" />

        <h4 class="study-heading"> FOR: </h4>
    
          <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="purchaseBox(event, 'You')">YOU</button>
        <button class="tablinks" onclick="purchaseBox(event, 'Child')">A CHILD</button>
        <button class="tablinks" onclick="purchaseBox(event, 'Friend')">A FRIEND</button>
      </div>

      </div>
  
<div class="search-result">   		

<div id="You" class="tabcontent active">
      <div class="second-selection study-content-panel">
        <span>ABOUT</span>
        <p>We’ll match promises to your life in 3 easy steps! We respect your privacy and the information shared will be stored securely. <a href="#" class="purchase-policy"> Privacy Policy</a></p>
                       
      </div>
</div>

<div id="Child" class="tabcontent">
	<div class="second-selection study-content-panel">
        <span>ABOUT</span>
        <p>We’ll match promises to your child’s life to help them learn promises of God. We respect your privacy and the information shared will be stored securely. <a href="#" class="purchase-policy"> Privacy Policy</a></p>                 
      </div>
</div>

<div id="Friend" class="tabcontent">
	<div class="second-selection study-content-panel">
       <span>ABOUT</span>
        <p>What a eternally valuable gift to give to a loved one! We’ll match promises to their life in 3 easy steps. Fill out as much you know so the promises can minister to them. We respect their privacy and the information shared will be stored securely. <a href="#" class="purchase-policy"> Privacy Policy</a></p>                 
      </div>
</div>
  
    </div>
  
  		<div class="search-result">  
   			<div class="study-next one-next">
                    <a href="#">
                  <span>
                    Get Started
                  </span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.8438H2" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.1367 7L22.0001 11.8418L17.1367 16.6852" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2" y1="11.8438" x2="5.46879" y2="19.9328" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="17.1367" y1="7" x2="22.5486" y2="7.31686" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                      </svg>

                    </a>

                  	</div>
 		 </div>

  
  <div class="button-promise-bottom">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Get a PromiseBox For More</a>
        </div>
  
</div>


<div class="search-page-content sentiments purchase-container">
  
  <div class="study-p-1-img">
        <img src="{{ 'senstiments.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/senstiments.png?42" />

        <h4 class="study-heading"> SENTIMENT </h4>


      </div>
   <h5 class="purchase-light-heading">LATELY, I’VE FELT:</h5>
  
<div class="search-result">   		
 		
		
  		<div class="range-slider-panel range-content">
          <h6> Content </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 			<p class="range-value">Value: <span id="demo"></span></p>
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  
  
  <div class="search-result bg-sentiments">   		
		
  		<div class="range-slider-panel range-Encouraged">
          <h6> Encouraged </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  
  
  <div class="search-result">   		
 		
		
  		<div class="range-slider-panel range-Sad">
          <h6> Sad </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  
  
  <div class="search-result bg-sentiments">   		
		
  		<div class="range-slider-panel range-Mad">
          <h6> Mad </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  
  
  <div class="search-result">   		
 		
		
  		<div class="range-slider-panel range-Lonely">
          <h6> Lonely </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  
  
  <div class="search-result bg-sentiments">   		
		
  		<div class="range-slider-panel range-Worried">
          <h6> Worried </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  
  <div class="search-result">   		
 		
		
  		<div class="range-slider-panel range-Confused">
          <h6> Confused </h6>
          <div class="rangecontainer">
 		 	<input type="range" min="1" max="100" value="50" step="16.3" class="range-slider" id="myRange">
 
			</div>
          <div class="range-text">
            	<div class="range-text-left">
                  <span>Almost Never</span>
            	</div>
            	<div class="range-text-right">
                  <span>Almost Always</span>
            	</div>
          </div>
 		</div>
  
    </div>
  
  		<div class="search-result"> 
   			<div class="study-next one-next">
                    <a href="#">
                  <span>
                    Next Up: Squad
                  </span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.8438H2" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.1367 7L22.0001 11.8418L17.1367 16.6852" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2" y1="11.8438" x2="5.46879" y2="19.9328" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="17.1367" y1="7" x2="22.5486" y2="7.31686" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                      </svg>

                    </a>

                  	</div>
  		</div>

  
  <div class="button-promise-bottom">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Get a PromiseBox For More</a>
        </div>
  
</div>




<div class="search-page-content squad purchase-container">
  
  <div class="study-p-1-img">
        <img src="{{ 'sss-center.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/sss-center.png?42" />

        <h4 class="study-heading"> SQUAD </h4>


      </div>
   <h5 class="purchase-light-heading">IN MY CORNER, I HAVE:</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Family" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Friends" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Work Colleagues" class="squad-check">
                    	
                  </div>
                  
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Classmates" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Neighbors" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Church Members" class="squad-check">
                    	
                  </div>
                  
                  
                  
                </div>
  
   <div class="search-result">   
  
  			<div class="study-page-move">
                  
                  <div class="study-previous">
                    <a href="#">
                    	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.8398L22 11.8398" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.86328 16.6836L1.9999 11.8418L6.86328 6.99836" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <defs>
                      <linearGradient id="paint0_linear" x1="22" y1="11.8398" x2="18.5312" y2="3.75082" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="6.86328" y1="16.6836" x2="1.45139" y2="16.3667" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      </defs>
                    </svg>
                  <span>
                   	Sentiment
                  </span>
                    </a>
                    

                  </div>
                  
                  <div class="study-next">
                    <a href="#">
                    	 <span>
                     Next Up: Season
                  </span>
                  	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.8438H2" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.1367 7L22.0001 11.8418L17.1367 16.6852" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2" y1="11.8438" x2="5.46879" y2="19.9328" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="17.1367" y1="7" x2="22.5486" y2="7.31686" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                      </svg>
                    </a>
                 

                  	</div>
                  
                  
              	</div>
  </div>
  
   <div class="button-promise-bottom">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Get a PromiseBox For More</a>
        </div>
  
</div>






<div class="search-page-content season purchase-container">
  
  <div class="study-p-1-img">
        <img src="{{ 'sss-right.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/sss-right.png?42" />

        <h4 class="study-heading"> SEASON </h4>


      </div>
  
  <div class="season-s1">
   <h5 class="purchase-light-heading">I’M CELEBRATING A:</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Graduation" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="New Job" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Wedding" class="squad-check">
                    	
                  </div>
                  
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="New Child" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="New Business" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="New Home" class="squad-check">
                    
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Breakthrough" class="squad-check">
                    
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Baptism" class="squad-check">
                    
                  </div>
                  
                  
                  
                </div>
  </div>
  
  	
  <div  class="season-s1">
  		 <h5 class="purchase-light-heading">I’M OVERCOMING CHALLENGES IN:</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Motivation" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Finances" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Relationships" class="squad-check">
                    	
                  </div>
                  
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Health" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Singleness" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Work / School" class="squad-check">
                    	
                  </div>
                  
                   
                  
                  
                  
                </div>
  </div>
  
  <div class="search-result"> 
  
  	<div class="study-page-move">
                  
                  <div class="study-previous">
                    <a href="#">
                    	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.8398L22 11.8398" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.86328 16.6836L1.9999 11.8418L6.86328 6.99836" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <defs>
                      <linearGradient id="paint0_linear" x1="22" y1="11.8398" x2="18.5312" y2="3.75082" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="6.86328" y1="16.6836" x2="1.45139" y2="16.3667" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      </defs>
                    </svg>
                  <span>
                   	Squad
                  </span>
                    </a>
                    

                  </div>
                  
                  <div class="study-next">
                    <a href="#">
                    	 <span>
                     Next Up: Your Matches
                  </span>
                  	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.8438H2" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.1367 7L22.0001 11.8418L17.1367 16.6852" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2" y1="11.8438" x2="5.46879" y2="19.9328" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="17.1367" y1="7" x2="22.5486" y2="7.31686" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                      </svg>
                    </a>
                 

                  	</div>
                  
                  
              	</div>
  </div>
  
  <div class="button-promise-bottom">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Get a PromiseBox For More</a>
        </div>
  
</div>




<div class="search-page-content matches purchase-container">
  
  <div class="study-p-1-img">
        <img src="{{ 'matches.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/matches.png?42" />

        <h4 class="study-heading"> YOUR PROMISE MATCHES </h4>


      </div>
   <h5 class="purchase-light-heading">Here are your promise matches! 
Which ones interest you the most?</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Forever Loved" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Fearlessness" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Contentment" class="squad-check">
                    	
                  </div>
                  
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Peace" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Comfort" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Guidance" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Motivation" class="squad-check">
                    	
                  </div>
                  
                  
                  
                </div>
  
   <div class="search-result">   
  
  			<div class="study-page-move">
                  
                  <div class="study-previous">
                    <a href="#">
                    	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.8398L22 11.8398" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.86328 16.6836L1.9999 11.8418L6.86328 6.99836" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <defs>
                      <linearGradient id="paint0_linear" x1="22" y1="11.8398" x2="18.5312" y2="3.75082" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="6.86328" y1="16.6836" x2="1.45139" y2="16.3667" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      </defs>
                    </svg>
                  <span>
                   	Season
                  </span>
                    </a>
                    

                  </div>
                  
                  <div class="study-next">
                    <a href="#">
                    	 <span>
                      Next Up: Your Plan
                  </span>
                  	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.8438H2" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.1367 7L22.0001 11.8418L17.1367 16.6852" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2" y1="11.8438" x2="5.46879" y2="19.9328" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="17.1367" y1="7" x2="22.5486" y2="7.31686" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                      </svg>
                    </a>
                 

                  	</div>
                  
                  
              	</div>
  </div>
  
  <div class="button-promise-bottom">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Get a PromiseBox For More</a>
        </div>
</div>




<div class="search-page-content choose-plan purchase-container">
  
  <div class="study-p-1-img">
        <img src="{{ 'promise-heading.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/promise-heading.png?42" />

        <h4 class="study-heading"> CHOOSE YOUR PLAN </h4>
    
          <div class="tab">
        <button class="tablinkss" id="defaultOpen1" onclick="choosePlan(event, 'Yearly')">Yearly</button>
        <button class="tablinkss" onclick="choosePlan(event, 'Quaterly')">Quaterly</button>
        <button class="tablinkss" onclick="choosePlan(event, 'Monthly')">Monthly</button>
      </div>

      </div>
  
<div class="search-result">   		

<div id="Yearly" class="tabcontents active">
  
  <div class="main-choose-div">
     <div class="second-choose-div">
       <div class="delux">
         	<div class="delux-left">
              <span>DELUXE</span>
         	</div>
         	<div class="delux-right">
              <div> <span>68% OFF</span> </div>
         	</div>
       </div>
       
       <div class="price">
          <div class="price-left">
            <p>$ <span>39</span> /month</p>
         </div>
         <div class="price-right">
           	<p>$ <span>100</span> /month</p>
         </div>
       </div>
       
       <div class="product-image-panel">
          <div class="product-image-panel-left">
            <p>Each month reveive a box including</p>
            <img src="{{ 'cart-product.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/cart-product.png?42" />
         </div>
         <div class="product-image-panel-right">
           	<div class="carousel-wrap">
                <div class="owl-carousel products-slider">
                  <div class="item">
                  	<img src="{{ 'product-img-slider.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/product-img-slider.png?42" />
                    <div class="products-name"><span>Promise T-Shirt</span></div>
                  </div>
                  
                <div class="item">
                  	<img src="{{ 'product-img-slider.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/product-img-slider.png?42" />
                    <div class="products-name"><span>Promise T-Shirt</span></div>
                  </div>


                </div>
              </div>
           		<div class="glowin">
           			<label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span> 
                	</label> <span class="filter-type"> Glow in </span>
           		</div>
         </div>
       </div>
       
       <div class="products-sizes">
         <span>Select size of the T-shirt</span>
         <ul>
           <li>
                    	<input type="checkbox" id="S" name="selector" for="S" value="S" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XS" name="selector" for="XS" value="XS" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="M" name="selector" for="M" value="M" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="L" name="selector" for="L" value="L" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XL" name="selector" for="XL" value="XL" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XXL" name="selector" for="XXL" value="XXL" class="squad-check">
                    	
             </li>
         </ul>
       </div>
       
       
        <div  class="Product-select-topic">
  		 <h5 class="purchase-light-heading">Select 12 Topics:</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                  
                  
                  
                  
                </div>
  </div>
       		<div class="btn-choose-plan">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Subscribe</a>
       		</div>
       	
    </div>
  </div>
</div>

<div id="Quaterly" class="tabcontents">
	<div class="main-choose-div">
     <div class="second-choose-div">
       <div class="delux">
         	<div class="delux-left">
              <span>DELUXE</span>
         	</div>
         	<div class="delux-right">
              <div> <span>68% OFF</span> </div>
         	</div>
       </div>
       
       <div class="price">
          <div class="price-left">
            <p>$ <span>39</span> /month</p>
         </div>
         <div class="price-right">
           	<p>$ <span>100</span> /month</p>
         </div>
       </div>
       
       <div class="product-image-panel">
          <div class="product-image-panel-left">
            <p>Each month reveive a box including</p>
            <img src="{{ 'cart-product.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/cart-product.png?42" />
         </div>
         <div class="product-image-panel-right">
           	<div class="carousel-wrap">
                <div class="owl-carousel products-slider">
                  <div class="item">
                  	<img src="{{ 'product-img-slider.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/product-img-slider.png?42" />
                    <div class="products-name"><span>Promise T-Shirt</span></div>
                  </div>
                  
                <div class="item">
                  	<img src="{{ 'product-img-slider.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/product-img-slider.png?42" />
                    <div class="products-name"><span>Promise T-Shirt</span></div>
                  </div>


                </div>
              </div>
         </div>
       </div>
       
       <div class="products-sizes">
         <span>Select size of the T-shirt</span>
         <ul>
           <li>
                    	<input type="checkbox" id="S" name="selector" for="S" value="S" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XS" name="selector" for="XS" value="XS" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="M" name="selector" for="M" value="M" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="L" name="selector" for="L" value="L" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XL" name="selector" for="XL" value="XL" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XXL" name="selector" for="XXL" value="XXL" class="squad-check">
                    	
             </li>
         </ul>
       </div>
       
       
        <div  class="Product-select-topic">
  		 <h5 class="purchase-light-heading">Select 12 Topics:</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                  
                  
                  
                  
                </div>
  </div>
       		<div class="btn-choose-plan">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Subscribe</a>
       		</div>
       
       		
       	
    </div>
  </div>
</div>

<div id="Monthly" class="tabcontents">
	<div class="main-choose-div">
     <div class="second-choose-div">
       <div class="delux">
         	<div class="delux-left">
              <span>DELUXE</span>
         	</div>
         	<div class="delux-right">
              <div> <span>68% OFF</span> </div>
         	</div>
       </div>
       
       <div class="price">
          <div class="price-left">
            <p>$ <span>39</span> /month</p>
         </div>
         <div class="price-right">
           	<p>$ <span>100</span> /month</p>
         </div>
       </div>
       
       <div class="product-image-panel">
          <div class="product-image-panel-left">
            <p>Each month reveive a box including</p>
            <img src="{{ 'cart-product.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/cart-product.png?42" />
         </div>
         <div class="product-image-panel-right">
           	<div class="carousel-wrap">
                <div class="owl-carousel products-slider">
                  <div class="item">
                  	<img src="{{ 'product-img-slider.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/product-img-slider.png?42" />
                    <div class="products-name"><span>Promise T-Shirt</span></div>
                  </div>
                  
                <div class="item">
                  	<img src="{{ 'product-img-slider.png' | asset_img_url: '' }}
                  //cdn.shopify.com/s/files/1/0000/0001/t/1/assets/product-img-slider.png?42" />
                    <div class="products-name"><span>Promise T-Shirt</span></div>
                  </div>


                </div>
              </div>
         </div>
       </div>
       
       <div class="products-sizes">
         <span>Select size of the T-shirt</span>
         <ul>
           <li>
                    	<input type="checkbox" id="S" name="selector" for="S" value="S" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XS" name="selector" for="XS" value="XS" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="M" name="selector" for="M" value="M" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="L" name="selector" for="L" value="L" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XL" name="selector" for="XL" value="XL" class="squad-check">
                    	
             </li>
           
            <li>
                    	<input type="checkbox" id="XXL" name="selector" for="XXL" value="XXL" class="squad-check">
                    	
             </li>
         </ul>
       </div>
       
       
        <div  class="Product-select-topic">
  		 <h5 class="purchase-light-heading">Select 12 Topics:</h5>
  
  
   				<div class="squad-btn">
                  <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                    <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                   <div>
                    	<input type="checkbox" id="option-a" name="selector" value="Topic" class="squad-check">
                    	
                  </div>
                  
                  
                  
                  
                  
                </div>
  </div>
       		<div class="btn-choose-plan">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Subscribe</a>
       		</div>
       
       		<div class="btn-choose-plan one-time">
              <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Subscribe One Time</a>
       		</div>
       	
    </div>
  </div>
</div>
  
    </div>
  
  
<div class="search-result">   
  
  			<div class="study-page-move">
                  
                  <div class="study-previous">
                    <a href="#">
                    	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 11.8398L22 11.8398" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.86328 16.6836L1.9999 11.8418L6.86328 6.99836" stroke="url(#paint1_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <defs>
                      <linearGradient id="paint0_linear" x1="22" y1="11.8398" x2="18.5312" y2="3.75082" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="6.86328" y1="16.6836" x2="1.45139" y2="16.3667" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#79B8BB"/>
                      <stop offset="0.989583" stop-color="#8DADA0"/>
                      </linearGradient>
                      </defs>
                    </svg>
                  <span>
                   	Your Matches
                  </span>
                    </a>
                    

                  </div>
                  

                  
                  
              	</div>
  </div>
  

  
  
  
</div>















<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: transparent;
  position: absolute;
    width: 100%;
    bottom: 14%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Josefin Sans';
    width: 33.3%;
    color: #716FA3;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: transparent;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #79B8BB;
      border-bottom: 2px solid;
    line-height: 23px;

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Owl Stylesheets -->
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">






<!-- javascript -->
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>


<script>
function purchaseBox(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
  
  var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
  

// Choose plan function

function choosePlan(evt, cityName) {
  var i, tabcontents, tablinkss;
  tabcontents = document.getElementsByClassName("tabcontents");
  for (i = 0; i < tabcontents.length; i++) {
    tabcontents[i].style.display = "none";
  }
  tablinkss = document.getElementsByClassName("tablinkss");
  for (i = 0; i < tablinkss.length; i++) {
    tablinkss[i].className = tablinkss[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
  
  document.getElementById("defaultOpen1").click();
  
  
  
  
  
    $('#info-about-btn, .study-info').click(function(){
      $('.study-info-about').toggle('slow');
  });
  
  $('.study-infos').click(function(){
      $('.study-info-about').hide('slow');
  });
  

//   $(function() {
//     $(".range-content .range-slider").on("input", function () {
//       var range = $(".range-content .range-slider").val();
      
//       if (range <= 49) {
//             $(".range-content .range-text-left > span").css("color", "#79B8BB");
//         $(".range-content .range-text-right > span").css("color", "#fff");

//       }
// 	  else if (range >= 51) {
//       	 $(".range-content .range-text-right > span").css("color", "#79B8BB");
//         	$(".range-content .range-text-left > span").css("color", "#fff");
//       }
//       else {
//       	$(".range-content .range-text-left > span").css("color", "#fff");
//          $(".range-content .range-text-right > span").css("color", "#fff");
//       }
       
      
//     });
// });
  
  
//   $(function() {
//     $(".range-Encouraged .range-slider").on("input", function () {
//       var range = $(".range-Encouraged .range-slider").val();
      
//       if (range <= 49) {
//              $(".range-Encouraged .range-text-left > span").css("color", "#79B8BB");
//         $(".range-Encouraged .range-text-right > span").css("color", "#fff");

//       }
// 	  else if (range >= 51) {
//       	 $(".range-Encouraged .range-text-right > span").css("color", "#79B8BB");
//         	$(".range-Encouraged .range-text-left > span").css("color", "#fff");
//       }
//       else {
//       	$(".range-Encouraged .range-text-left > span").css("color", "#fff");
//          $(".range-Encouraged .range-text-right > span").css("color", "#fff");
//       }
       
      
//     });
// });
  
  
//    $(function() {
//     $(".range-Mad .range-slider").on("input", function () {
//       var range = $(".range-Mad .range-slider").val();
      
//       if (range <= 49) {
//            $(".range-Mad .range-text-left > span").css("color", "#79B8BB");
//         $(".range-Mad .range-text-right > span").css("color", "#fff");

//       }
// 	  else if (range >= 51) {
//       	  $(".range-Mad .range-text-right > span").css("color", "#79B8BB");
//         	$(".range-Mad .range-text-left > span").css("color", "#fff");
//       }
//       else {
//       	$(".range-Mad .range-text-left > span").css("color", "#fff");
//          $(".range-Mad .range-text-right > span").css("color", "#fff");
//       }
       
      
//     });
// });
  
  
//    $(function() {
//     $(".range-Worried .range-slider").on("input", function () {
//       var range = $(".range-Worried .range-slider").val();
      
//       if (range <= 49) {
//              $(".range-Worried .range-text-left > span").css("color", "#79B8BB");
//         $(".range-Worried .range-text-right > span").css("color", "#fff");

//       }
// 	  else if (range >= 51) {
//       	  $(".range-Worried .range-text-right > span").css("color", "#79B8BB");
//         	$(".range-Worried .range-text-left > span").css("color", "#fff");
//       }
//       else {
//       	$(".range-Worried .range-text-left > span").css("color", "#fff");
//          $(".range-Worried .range-text-right > span").css("color", "#fff");
//       }
       
      
//     });
// });
  
  
//    $(function() {
//     $(".range-Sad .range-slider").on("input", function () {
//       var range = $(".range-Sad .range-slider").val();
      
//       if (range <= 49) {
//           $(".range-Sad .range-text-left > span").css("color", "#79B8BB");
//         $(".range-Sad .range-text-right > span").css("color", "#fff");

//       }
// 	  else if (range >= 51) {
//       	  $(".range-Sad .range-text-right > span").css("color", "#79B8BB");
//         	$(".range-Sad .range-text-left > span").css("color", "#fff");
//       }
//       else {
//       	$(".range-Sad .range-text-left > span").css("color", "#fff");
//          $(".range-Sad .range-text-right > span").css("color", "#fff");
//       }
       
      
//     });
// });
  
  
//   $(function() {
//     $(".range-Lonely .range-slider").on("input", function () {
//       var range = $(".range-Lonely .range-slider").val();
      
//       if (range <= 49) {
//             $(".range-Lonely .range-text-left > span").css("color", "#79B8BB");
//         $(".range-Lonely .range-text-right > span").css("color", "#fff");

//       }
// 	  else if (range >= 51) {
//       	 $(".range-Lonely .range-text-right > span").css("color", "#79B8BB");
//         	$(".range-Lonely .range-text-left > span").css("color", "#fff");
//       }
//       else {
//       	$(".range-Lonely .range-text-left > span").css("color", "#fff");
//          $(".range-Lonely .range-text-right > span").css("color", "#fff");
//       }
       
      
//     });
// });
  
  
  
   $(function() {
    $(".range-Confused .range-slider").on("input", function () {
      var range = $(".range-Confused .range-slider").val();
      
      if (range <= 49) {
          $(".range-Confused .range-text-left > span").css("color", "#79B8BB");
        $(".range-Confused .range-text-right > span").css("color", "#fff");

      }
	  else if (range >= 51) {
      	 $(".range-Confused .range-text-right > span").css("color", "#79B8BB");
        	$(".range-Confused .range-text-left > span").css("color", "#fff");
      }
      else {
      	$(".range-Confused .range-text-left > span").css("color", "#fff");
         $(".range-Confused .range-text-right > span").css("color", "#fff");
      }
       
      
    });
});
  
  
  
	 $('.products-slider').owlCarousel({
  loop: false,
  margin: -22,
  nav: false,
  navText: [
    "<i class='fa fa-caret-left'></i>",
    "<i class='fa fa-caret-right'></i>"
  ],
  autoplay: false,
  autoplayHoverPause: false,
  responsive: {
    0: {
      items: 1
    },
    600: {
      items: 3
    },
    1000: {
      items: 5
    }
  }
})
     
     
     
     
      $('.purchase-you .study-next a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.purchase-you').removeClass('purchase-active');
    $('.sentiments').addClass('purchase-active');
});
  
    $('.sentiments .study-next a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.sentiments').removeClass('purchase-active');
    $('.squad').addClass('purchase-active');
});
  
  $('.sentiments .study-previous a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.sentiments').removeClass('purchase-active');
    $('.purchase-you').addClass('purchase-active');
});
  
   $('.squad .study-next a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.squad').removeClass('purchase-active');
    $('.season').addClass('purchase-active');
});
  
  $('.squad .study-previous a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.squad').removeClass('purchase-active');
    $('.sentiments').addClass('purchase-active');
});
  
  
   $('.season .study-next a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.season').removeClass('purchase-active');
    $('.matches').addClass('purchase-active');
});
  
  $('.season .study-previous a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.season').removeClass('purchase-active');
    $('.squad').addClass('purchase-active');
});
  
   $('.matches .study-next a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.matches').removeClass('purchase-active');
    $('.choose-plan').addClass('purchase-active');
});
  
  $('.matches .study-previous a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.matches').removeClass('purchase-active');
    $('.season').addClass('purchase-active');
});
  
   $('.choose-plan .study-previous a').click(function(e) {
    e.preventDefault(); //prevent the link from being followed
    $('.choose-plan').removeClass('purchase-active');
    $('.matches').addClass('purchase-active');
});
  
  

  

  
</script>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">