<div class="shopify-section section-w-margin section-w-mobile-padding mount-collection" id="section-search">

<!--   <div class="section-header five-tenths lap--nine-tenths smaller-lap--full-width push-left-one-tenth lap--push-left-none">
    <h1 class="section-header__title h1">
      {%- liquid
        if search.performed and search.results_count > 0
          echo 'search.page.results' | t
          assign search_label = 'search.page.search_again_button_label' | t 
        else 
          echo 'search.page.title' | t
          assign search_label = 'search.page.search_button_label' | t 
        endif
      -%}
    </h1>
    {%- render 'search-form', label: search_label -%}
  </div>

  {% if search.performed and search.results_count > 0 -%}

    {%- paginate search.results by 16 -%}

      {%- liquid 
        assign offset = paginate.current_offset | plus: 1
        assign page_size = paginate.current_offset | plus: paginate.page_size | at_most: paginate.items
        assign products_results = search.results | where: 'object_type', 'product'
        capture results_count 
          echo 'search.page.results_count' | t: offset: offset, page_size: page_size, count: paginate.items
        endcapture
      -%}

      {%- if products_results.size > 0 -%}

        <div class="search-description ten-tenths lap--full-width push-left-one-tenth lap--push-left-none">
          <span class="search-description__found">{{ 'search.page.products_found' | t: terms: search.terms }}</span>
          <span class="search-description__count">{{ results_count }}</span>
        </div>

        {%- render 'collection-layout', products: products_results, limit: 16, layout: 'regular', show_promotional_block: false -%}

      {%- endif -%}

      {%- liquid
        if search.types contains 'page' or search.types contains 'article' 
          capture search_results_articles
            for result in search.results
              if result.object_type == 'product'
                continue
              endif
              assign date_format = 'general.date_format.month_day_year' | t
              render 'blog-item', article: result, css_class: 'three-tenths product-tablet--five-plus-tenths push-left-half-tenth lap--push-left-padding', date_format: date_format, show_images: false
            endfor
          endcapture
        endif
      -%} 

      {%- if search_results_articles != blank -%}

        <div class="search-description ten-tenths lap--full-width push-left-one-tenth lap--push-left-none">
          <span class="search-description__found">{{ 'search.page.articles_and_pages_found' | t: terms: search.terms }}</span>
        </div>

        <div class="blog push-left-half-tenth lap--push-left-none">
          {{ search_results_articles }}
        </div>

      {% endif %}

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}

    {%- endpaginate -%}

  {%- elsif search.performed and search.results_count == 0 -%}

    <div class="search-description ten-tenths lap--full-width push-left-one-tenth lap--push-left-none">
      <span class="search-description__found">{{ 'search.page.no_results' | t: terms: search.terms }}</span>
    </div>

  {%- endif -%}  -->

  
  {%- section 'search-box' -%}


  
<div class="search-page-content">
  
    <div class="versions carousel-wrap">
      <div class="owl-carousel first-selection">
      </div>
    </div>
  
  	<template id="search-result">
        <div class="search-result">

              <div class="carousel-wrap">
                <div id="item-container" class="owl-carousel t-first-selection"> 
                  
                  <template id="item">
                    <div class="item">
                      <div class="second-selection">
                        <span class="verse-reference">Luke 12:7</span>

                        <svg class="icon-1" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.27995 0.000154663C6.90994 0.0193141 7.51994 0.129313 8.11093 0.330311H8.16993C8.20993 0.349311 8.23993 0.37031 8.25993 0.38931C8.48093 0.46031 8.68993 0.540309 8.88992 0.650307L9.26992 0.820306C9.41992 0.900305 9.59992 1.0493 9.69991 1.1103C9.79991 1.1693 9.90991 1.2303 9.99991 1.2993C11.1109 0.45031 12.4599 -0.00968556 13.8499 0.000154663C14.4809 0.000154663 15.1109 0.0893134 15.7099 0.290311C19.4008 1.4903 20.7308 5.54026 19.6198 9.08022C18.9898 10.8892 17.9598 12.5402 16.6108 13.8892C14.6799 15.7591 12.5609 17.4191 10.2799 18.8491L10.0299 19.0001L9.76991 18.8391C7.48094 17.4191 5.34996 15.7591 3.40098 13.8792C2.06099 12.5302 1.03001 10.8892 0.390012 9.08022C-0.739976 5.54026 0.590011 1.4903 4.32097 0.269312C4.61097 0.169313 4.90997 0.0993133 5.20996 0.0603137H5.32996C5.61096 0.0193141 5.88996 0.000154663 6.16995 0.000154663H6.27995ZM15.1899 3.16028C14.7799 3.01928 14.3299 3.24028 14.1799 3.66028C14.0399 4.08027 14.2599 4.54027 14.6799 4.68926C15.3209 4.92926 15.7499 5.56026 15.7499 6.25925V6.29025C15.7309 6.51925 15.7999 6.74024 15.9398 6.91024C16.0798 7.08024 16.2898 7.17924 16.5098 7.20024C16.9198 7.18924 17.2698 6.86024 17.2998 6.43925V6.32025C17.3298 4.91926 16.4808 3.65028 15.1899 3.16028Z" fill="#E2E1F5"/>
                        </svg>


                        <svg class="icon-2" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5542 12.7229C12.8675 12.7229 12.253 12.994 11.7831 13.4187L5.34036 9.66867C5.38554 9.46084 5.42169 9.25301 5.42169 9.03614C5.42169 8.81928 5.38554 8.61145 5.34036 8.40361L11.7108 4.68976C12.1988 5.14157 12.8404 5.42169 13.5542 5.42169C15.0542 5.42169 16.2651 4.21084 16.2651 2.71084C16.2651 1.21084 15.0542 0 13.5542 0C12.0542 0 10.8434 1.21084 10.8434 2.71084C10.8434 2.92771 10.8795 3.13554 10.9247 3.34337L4.55422 7.05723C4.06627 6.60542 3.4247 6.3253 2.71084 6.3253C1.21084 6.3253 0 7.53614 0 9.03614C0 10.5361 1.21084 11.747 2.71084 11.747C3.4247 11.747 4.06627 11.4669 4.55422 11.0151L10.988 14.7741C10.9428 14.9639 10.9157 15.1627 10.9157 15.3614C10.9157 16.8163 12.0994 18 13.5542 18C15.009 18 16.1928 16.8163 16.1928 15.3614C16.1928 13.9066 15.009 12.7229 13.5542 12.7229Z" fill="url(#paint0_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="0" y1="0" x2="17.9621" y2="1.89247" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                        </svg>




                        <p class="verse-content">“Indeed, the very hairs of your head are all numbered. Don’t be afraid; you are worth more than many sparrows.” Luke 12:7, NKJV</p>
                        <a href="#" class="verse-version"> NKJV </a> 
                      </div>
                    </div>
                  </template>


                </div>

                <div class="slider-counter"></div>
                <div class="slider-counter-2"></div>
              </div>
          
          




              <div class="carousel-wrap c-section">
               <div class="c-heading"><a href="#" class="t-active" > Related Promises </a></div> 
                <div class="owl-carousel c-first-selection related-verses">   
                  <div class="item"><a href="#" class="c-active" > Jeremiah 31:3 </a></div>
                  <div class="item"><a href="#" > Deuteronomy </a></div>
                </div>
              </div>




        </div>
    </template>
  
  <template id="search-result">
        <div class="search-result">

              <div class="carousel-wrap">
                <div id="item-container" class="owl-carousel t-first-selection" id="test-first-selection"> 
                  
                  <template id="item">
                    <div class="item">
                      <div class="second-selection">
                        <span class="verse-reference">Luke 12:7</span>

                        <svg class="icon-1" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.27995 0.000154663C6.90994 0.0193141 7.51994 0.129313 8.11093 0.330311H8.16993C8.20993 0.349311 8.23993 0.37031 8.25993 0.38931C8.48093 0.46031 8.68993 0.540309 8.88992 0.650307L9.26992 0.820306C9.41992 0.900305 9.59992 1.0493 9.69991 1.1103C9.79991 1.1693 9.90991 1.2303 9.99991 1.2993C11.1109 0.45031 12.4599 -0.00968556 13.8499 0.000154663C14.4809 0.000154663 15.1109 0.0893134 15.7099 0.290311C19.4008 1.4903 20.7308 5.54026 19.6198 9.08022C18.9898 10.8892 17.9598 12.5402 16.6108 13.8892C14.6799 15.7591 12.5609 17.4191 10.2799 18.8491L10.0299 19.0001L9.76991 18.8391C7.48094 17.4191 5.34996 15.7591 3.40098 13.8792C2.06099 12.5302 1.03001 10.8892 0.390012 9.08022C-0.739976 5.54026 0.590011 1.4903 4.32097 0.269312C4.61097 0.169313 4.90997 0.0993133 5.20996 0.0603137H5.32996C5.61096 0.0193141 5.88996 0.000154663 6.16995 0.000154663H6.27995ZM15.1899 3.16028C14.7799 3.01928 14.3299 3.24028 14.1799 3.66028C14.0399 4.08027 14.2599 4.54027 14.6799 4.68926C15.3209 4.92926 15.7499 5.56026 15.7499 6.25925V6.29025C15.7309 6.51925 15.7999 6.74024 15.9398 6.91024C16.0798 7.08024 16.2898 7.17924 16.5098 7.20024C16.9198 7.18924 17.2698 6.86024 17.2998 6.43925V6.32025C17.3298 4.91926 16.4808 3.65028 15.1899 3.16028Z" fill="#E2E1F5"/>
                        </svg>


                        <svg class="icon-2" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5542 12.7229C12.8675 12.7229 12.253 12.994 11.7831 13.4187L5.34036 9.66867C5.38554 9.46084 5.42169 9.25301 5.42169 9.03614C5.42169 8.81928 5.38554 8.61145 5.34036 8.40361L11.7108 4.68976C12.1988 5.14157 12.8404 5.42169 13.5542 5.42169C15.0542 5.42169 16.2651 4.21084 16.2651 2.71084C16.2651 1.21084 15.0542 0 13.5542 0C12.0542 0 10.8434 1.21084 10.8434 2.71084C10.8434 2.92771 10.8795 3.13554 10.9247 3.34337L4.55422 7.05723C4.06627 6.60542 3.4247 6.3253 2.71084 6.3253C1.21084 6.3253 0 7.53614 0 9.03614C0 10.5361 1.21084 11.747 2.71084 11.747C3.4247 11.747 4.06627 11.4669 4.55422 11.0151L10.988 14.7741C10.9428 14.9639 10.9157 15.1627 10.9157 15.3614C10.9157 16.8163 12.0994 18 13.5542 18C15.009 18 16.1928 16.8163 16.1928 15.3614C16.1928 13.9066 15.009 12.7229 13.5542 12.7229Z" fill="url(#paint0_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="0" y1="0" x2="17.9621" y2="1.89247" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#79B8BB"/>
                        <stop offset="0.989583" stop-color="#8DADA0"/>
                        </linearGradient>
                        </defs>
                        </svg>




                        <p class="verse-content">“Indeed, the very hairs of your head are all numbered. Don’t be afraid; you are worth more than many sparrows.” Luke 12:7, NKJV</p>
                        <a href="#" class="verse-version"> NKJV </a> 
                      </div>
                    </div>
                  </template>


                </div>

                <div class="slider-counter"></div>
                <div class="slider-counter-2"></div>
              </div>
          
          




              <div class="carousel-wrap c-section">
               <div class="c-heading"><a href="#" class="t-active" > Related Promises </a></div> 
                <div class="owl-carousel c-first-selection related-verses">   
                  <div class="item"><a href="#" class="c-active" > Jeremiah 31:3 </a></div>
                  <div class="item"><a href="#" > Deuteronomy </a></div>
                </div>
              </div>




        </div>
    </template>
			
  </div>
  

  <div class="button-promise-bottom">
        <a class="slide-button button button--underline button-search-filter" href="" title="Start your Box">Get a PromiseBox For More</a>
  </div>

  
  
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <!-- Owl Stylesheets -->
  <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">

<style>
  
.versions {
  background-color: #18155f;
  display: none;
}
  
.versions .owl-stage {
  width: unset !important;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
  
.owl-carousel .owl-stage {
  padding-top: 20px; 
}
  
.carousel-wrap {
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {

  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 24px;
  color: #79B8BB;
  margin-top: 3px;
}

.owl-nav .owl-prev {
 
      top: 40%;
    position: absolute;
    left: -8px;
}

.owl-nav .owl-next {

    top: 40%;
    position: absolute;
    right: -8px;
}
  
  .first-selection .owl-nav {
  	display: none;
  } 
  
  .c-first-selection {
  	width: 55%;
    display: inline-block !important;
  }
  
  .c-first-selection a {
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .c-heading {
  	width: 43%;
    display: inline-block;
  }
  
  .c-section {
  	    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .slider-counter {
  text-align: center;
    margin-top: -16px;
    margin-bottom: 20px;
    color: #E2E1F5;
    position: absolute;
        top: 47%;
    left: 14px;
  }
  
   .slider-counter-2 {
  text-align: center;
    margin-top: -16px;
    margin-bottom: 20px;
    color: #E2E1F5;
    position: absolute;
        top: 47%;
    right: 14px;
  }
  
  .second-slider-counter {
  text-align: center;
    margin-top: -16px;
    margin-bottom: 20px;
    color: #E2E1F5;
    position: absolute;
        top: 47%;
    left: 14px;
  }
  
   .second-slider-counter-2 {
  text-align: center;
    margin-top: -16px;
    margin-bottom: 20px;
    color: #E2E1F5;
    position: absolute;
        top: 47%;
    right: 14px;
  }

  .first-selection {
	    width: 100% !important;
   }

</style>




<!-- javascript -->
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

<script>
  
// This is necessary. Owl breaks without this.
jQuery(document).ready(async function($) {
  
  const API_URL = 'https://promiser-bible-search.herokuapp.com/api/v1';
  
  const urlParams = new URLSearchParams(window.location.search);
  const term = urlParams.get('search');
  const study = !!urlParams.get('study');
  const searchVersion = urlParams.get('version') || 'FBV';
  
  // Get available versions
  const getVersions = async () => {
    const URL = API_URL + '/versions';

    return await (await fetch(URL)).json();
  }

  // Perform the search for verses
  const getVerses = async () => {

    if (!term) {
      setTimeout(() => document.getElementById('custom-search-icon').dispatchEvent(new Event('click')), 100);
      return;
    }

    const URL = API_URL + '/search?term=' + term + '&version=' + searchVersion + '&study=false&unrestricted=false&relatedVerses=true&adjacentVerses=true';
    
    return await (await fetch(URL)).json();
  }
  
  const [versionsResponse, versesResponse] = await Promise.all([getVersions(), getVerses()]);
  
  console.log(versionsResponse.data);
  const versionsContainer = document.querySelector(".owl-carousel.first-selection");
  
  // Always include NKJV
//   if (!versionsResponse.data.some(version => version.abbreviation === 'NKJV')) {
//     const div = document.createElement('div');
//     div.className = "item";
    
//     const a = document.createElement('a');
//     a.href = "?search=" + term + "&study=" + study ? 'on' : '' + "&version=" + 'NKJV';
//     a.innerText = 'NKJV';
    
//     if (searchVersion === 'NKJV') {
//       a.className = 's-active';
//     }
    
//     div.appendChild(a);
//     versionsContainer.appendChild(div);
//   }
  
  // Append the versions to the top
  versionsResponse.data.forEach(version => {
    const div = document.createElement('div');
    div.className = "item";
    
    const a = document.createElement('a');
    a.href = "?search=" + term + "&study=" + (study ? 'on' : '') + "&version=" + version.abbreviation;
    a.innerText = version.abbreviation;
    
    if (searchVersion === version.abbreviation) {
      a.className = 's-active';
    }
    
    div.appendChild(a);
    versionsContainer.appendChild(div);
  });

  console.log(versesResponse.data);

  // If there was nothing found, stop and show the search bar.
  if (!versesResponse.data.length) {
    setTimeout(() => document.getElementById('custom-search-icon').dispatchEvent(new Event('click')), 100);
    return;
  }

  // Append search results
  const container = document.querySelector('.search-page-content');
  const resultTemplate = document.getElementById('search-result');

  versesResponse.data.forEach((verse, i) => {
    const resultClone = resultTemplate.content.cloneNode(true);
    if (i % 2 !== 0) {
      $(resultClone.querySelector('.search-result')).addClass('second-panel'); 
    }

    const itemContainer = resultClone.getElementById('item-container');

    // Append adjacent verses
    const items = [...verse.previous, verse, ...verse.next];
    const itemTemplate = resultClone.getElementById('item');

    items.forEach(item => {
      const itemClone = itemTemplate.content.cloneNode(true);

      const referenceElem = itemClone.querySelector('.verse-reference');
      const contentElem = itemClone.querySelector('.verse-content');
      const versionElem = itemClone.querySelector('.verse-version');

      referenceElem.textContent = item.reference;
      contentElem.textContent = item.content;
      versionElem.textContent = item.version;

      itemContainer.appendChild(itemClone);
    });

    const relatedContainer = resultClone.querySelector('.related-verses');
    relatedContainer.innerHTML = '';
    verse.related.forEach(related => {
      const item = document.createElement('div');
      item.className = "item";
      item.innerHTML = '<a href="/search?search=' + related.reference + '">' + related.reference + '</a>';

      relatedContainer.appendChild(item);
    });

    itemTemplate.remove();

    container.appendChild(resultClone);
  });
  
  // Show versions now
  document.querySelector('.versions').style.display = 'block';

  // Initialize Carousels
  $('.first-selection').owlCarousel({
    loop: false,
    margin: 60,
    nav: true,
    navText: [
      "<i class='fa fa-caret-left'></i>",
      "<i class='fa fa-caret-right'></i>"
    ],
    autoplay: false,
    autoplayHoverPause: false,
    responsive: {
      0: {
        items: 4
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });

  $('.t-first-selection').on('initialized.owl.carousel changed.owl.carousel', function(e) {
    if (!e.namespace)  {
      return;
    }
    var carousel = e.relatedTarget;

//     $('.slider-counter').text(carousel.relative(carousel.current()));
//     $('.slider-counter-2').text(carousel.relative(carousel.current()) + 2);
  }).owlCarousel({
    startPosition: 2,
    loop: true,
    margin: 10,
    nav: true,
    navText: [
      "<i class='fas fa-chevron-left'></i>",
      "<i class='fas fa-chevron-right'></i>"
    ],
    autoplay: false,
    autoplayHoverPause: false,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 1
      },
      1000: {
        items: 1
      }
    }
  });

  $('.c-first-selection').owlCarousel({
    loop: true,
    margin: 8,
    autoWidth: true,
    nav: false,
    navText: [
      "<i class='fa fa-caret-left'></i>",
      "<i class='fa fa-caret-right'></i>"
    ],
    autoplay: false,
    autoplayHoverPause: false,
    responsive: {
      0: {
        items: 2
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });
  

	$('#test-first-selection').owlCarousel({
    loop: true,
    margin: 8,
    autoWidth: true,
    nav: false,
    navText: [
      "<i class='fa fa-caret-left'></i>",
      "<i class='fa fa-caret-right'></i>"
    ],
    autoplay: false,
    autoplayHoverPause: false,
    responsive: {
      0: {
        items: 2
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });
  

  
  
     
  
});
</script>


